---
title: download
slug: download/
---

<div id="download-page">

  {{> sidebar}}

  <div class="column-span">

    <section>

      <h2>{{#i18n "Download"}}{{/i18n}}</h2>

      <!-- COMPLETE LIBRARY -->
      <div class="link_group">
        <h3>Complete Library</h3>
        
        <a href="https://github.com/processing/p5.js/releases/download/{{version}}/p5.zip">
          <div class="download_box">
          
            <h4>p5.js complete</h4>
            
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve"><path stroke-miterlimit="10" d="M16.909,10.259l8.533-2.576l1.676,5.156l-8.498,2.899l5.275,7.48
                l-4.447,3.225l-5.553-7.348L8.487,26.25l-4.318-3.289l5.275-7.223L0.88,12.647l1.678-5.16l8.598,2.771V1.364h5.754V10.259z"/>
            </svg>

            <p>Includes:<br>p5.js, p5.dom.js, p5.sound.js, and an example project
            <br>Version {{download.version}} ({{download.date}})
            </p>
            
          </div>
        </a>
        <div class="spacer"></div>
      </div>

      <!-- SINGLE FILES -->
      <div class="link_group">
        
        <h3>Single Files</h3>
        <a href="https://github.com/processing/p5.js/releases/download/{{download.version}}/p5.js">
          <div class="download_box half_box">
            <h4>p5.js</h4>
            <p>Single file:<br>Full uncompressed version</p>
          </div>
        </a>

        <a href="https://github.com/processing/p5.js/releases/download/{{download.version}}/p5.min.js">
          <div class="download_box half_box">
            <h4>p5.min.js</h4>
            <p>Single file:<br>Compressed version</p>
          </div>
        </a>

        <a href="http://cdnjs.com/libraries/p5.js">
          <div class="download_box half_box">
            <h4>CDN</h4>
            <p>Link:<br>Statically hosted file</p>
          </div>
        </a>

        <div class="spacer"></div>

      </div>

      <!-- EDITOR -->
      <div class="link_group">
        <a name="editor" class="anchor"><h3>Editor</h3></a>
        
        <p>The p5.js editor is currently in development, try out a beta version of it now. Help out by posting <a href="https://github.com/processing/p5.js-editor/issues">feedback and bugs</a>.
        </p>
        
        <a href="https://github.com/processing/p5.js-editor/releases/download/{{download.editor_version}}/p5-mac.zip">
          <div class="download_box half_box">
            <h4>Mac OS X</h4>
            <p>p5 Editor<br>Version {{download.editor_version}}</p>
          </div>
        </a>
        
        <a href="https://github.com/processing/p5.js-editor/releases/download/{{download.editor_version}}/p5-win.zip">
          <div class="download_box half_box">
            <h4>Windows</h4>
            <p>p5 Editor<br>Version {{download.editor_version}}</p>
          </div>
        </a>
        
        <a href="https://github.com/processing/p5.js-editor/releases/download/{{download.editor_version}}/p5-linux.zip">
          <div class="download_box half_box">
            <h4>Linux</h4>
            <p>p5 Editor<br>Version {{download.editor_version}}</p>
          </div>
        </a>

        <div class="spacer"></div>
      </div>

      <!-- ETC -->
      <div class="link_group">
        <h3>ETC</h3>
        
        <p>Older releases / changelog <a href="https://github.com/processing/p5.js/releases">p5</a>, <a href="https://github.com/processing/p5.js-editor/releases">editor</a><br>
        Github <a href="https://github.com/processing/p5.js">p5</a>, <a href="https://github.com/processing/p5.js-editor">editor</a><br>
        Report bugs <a href="https://github.com/processing/p5.js/issues">p5</a>, <a href="https://github.com/processing/p5.js-editor/issues">editor</a><br>
        Supported browsers <a href="https://github.com/processing/p5.js/wiki/Supported-browsers">p5</a>
        </p>
        
        <div class="spacer"></div>
      </div>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
