---
title: download
slug: download/
---

<div id="download-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >

      <h1>{{#i18n "support-title"}}{{/i18n}}</h1>

      <p>{{#i18n "support-1"}}{{/i18n}}<a href="https://processingfoundation.org/support/">Processing Foundation</a>{{#i18n "support-2"}}{{/i18n}} <a href="https://processingfoundation.org/fellowships">{{#i18n "support-3"}}{{/i18n}}</a>{{#i18n "support-4"}}{{/i18n}}<a href="https://processingfoundation.org/advocacy">{{#i18n "support-5"}}{{/i18n}}</a></p>
      <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" height="900" name="donorbox" src="https://donorbox.org/embed/support-the-processing-foundation?hide_donation_meter=true" style="max-width: 500px; min-width: 250px; max-height:none!important; margin-top: 1em" ></iframe>
      
      <p><a href="https://processingfoundation.org">{{#i18n "support-32"}}{{/i18n}}</a>{{#i18n "support-33"}}{{/i18n}}</p>

      <div id="slideshow" aria-label="Image slideshow">
        <div>
          <img src="{{assets}}/img/download/p5js-5939.jpg" alt="p5.js Contributors Conference at CMU STUDIO for Creative Inquiry in Pittsburgh">
          <p>{{#i18n "support-17"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/saskia-project.jpg" alt="Processing Fellow Saskia Freeke organizing Code Liberation x Processing workshops in London">
          <p>{{#i18n "support-18"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/LearningToTeach45-small.jpg" alt="Learning to Teach, Teaching to Learn conference with SFPC">
          <p>{{#i18n "support-19"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/Cassie_CodeMiami0.png" alt="Processing Foundation Fellow Cassie Tarakajian's workshop at Code Art Miami">
          <p>{{#i18n "support-20"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders2.jpg" alt="Taeyoon Choi and ASL interpretor at Signing Coders p5.js workshop">
          <p>{{#i18n "support-21"}}{{/i18n}}</p> 
        </div>
        <div>
          <img src="{{assets}}/img/download/gsoc_kickoff.jpg" alt="Google Summer of Code kickoff participants">
          <p>{{#i18n "support-22"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/Cassie_CodeMiami5.png" alt="Processing Foundation Fellow Cassie Tarakajian's workshop at Code Art Miami">
          <p>{{#i18n "support-23"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders0.jpg" alt="Luisa Pereira and Yeseul Song facilitate a sign language based p5.js
    workshop">
          <p>{{#i18n "support-24"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/conf2.jpg" alt="p5.js Contributors Conference at CMU STUDIO for Creative Inquiry in
    Pittsburgh">
          <p>{{#i18n "support-25"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/digitalcitizens-panel3.png" alt="Processing Fellow Digital Citizens Lab panel on STEM teaching at the
    International Center of Photography">
          <p>{{#i18n "support-26"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/aaron.jpg" alt="Participants at p5.js workshop in Santiago, Chile">
          <p>{{#i18n "support-27"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders3.jpg" alt="Claire Kearney-Volpe helping facilitate a sign language based p5.js workshop">
          <p>{{#i18n "support-28"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/diygirls1.jpg" alt="Processing Foundation Fellow DIY Girls run a creative coding program in Los Angeles">
          <p>{{#i18n "support-29"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/digitalcitizens7.jpg" alt="Processing Fellow Digital Citizens Lab">
          <p>{{#i18n "support-30"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/p5-coast2coast.jpg" alt="Bicoastal p5.js meetup at UCLA DMA and NYU ITP">
          <p>{{#i18n "support-31"}}{{/i18n}}</p>
        </div>
      </div>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div>
<script src="{{assets}}/js/slideshow.js"></script>
