---
title: download
slug: download/
---

<div id="download-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >

      <h1>{{#i18n "support-title"}}{{/i18n}}</h1>

      <p>{{#i18n "support-1"}}{{/i18n}}<a href="https://processingfoundation.org/support/">Processing Foundation</a>{{#i18n "support-2"}}{{/i18n}} <a href="https://processingfoundation.org/fellowships">{{#i18n "support-3"}}{{/i18n}}</a>{{#i18n "support-4"}}{{/i18n}}<a href="https://processingfoundation.org/advocacy">{{#i18n "support-5"}}{{/i18n}}</a></p>
      {{!-- <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" height="900" name="donorbox" src="https://donorbox.org/embed/support-the-processing-foundation?hide_donation_meter=true" style="max-width: 500px; min-width: 250px; max-height:none!important; margin-top: 1em" ></iframe> --}}
      <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" height="900" name="donorbox" src="https://donorbox.org/embed/supportp52020" style="max-width: 500px; min-width: 250px; max-height:none!important; margin-top: 1em" ></iframe>

      <p><a href="https://processingfoundation.org">{{#i18n "support-32"}}{{/i18n}}</a>{{#i18n "support-33"}}{{/i18n}}</p>

      <div id="slideshow">
        <div>
          <img src="{{assets}}/img/download/p5js-5939.jpg" alt="support-17-alt">
          <p>{{#i18n "support-17"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/saskia-project.jpg" alt="support-18-alt">
          <p>{{#i18n "support-18"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/LearningToTeach45-small.jpg" alt="support-19-alt">
          <p>{{#i18n "support-19"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/Cassie_CodeMiami0.png" alt="support-20-alt">
          <p>{{#i18n "support-20"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders2.jpg" alt="support-21-alt">
          <p>{{#i18n "support-21"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/gsoc_kickoff.jpg" alt="support-22-alt">
          <p>{{#i18n "support-22"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/Cassie_CodeMiami5.png" alt="support-23-alt">
          <p>{{#i18n "support-23"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders0.jpg" alt="support-24-alt">
          <p>{{#i18n "support-24"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/conf2.jpg" alt="support-25-alt">
          <p>{{#i18n "support-25"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/digitalcitizens-panel3.png" alt="support-26-alt">
          <p>{{#i18n "support-26"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/aaron.jpg" alt="support-27-alt">
          <p>{{#i18n "support-27"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/signingcoders3.jpg" alt="support-28-alt">
          <p>{{#i18n "support-28"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/diygirls1.jpg" alt="support-29-alt">
          <p>{{#i18n "support-29"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/digitalcitizens7.jpg" alt="support-30-alt">
          <p>{{#i18n "support-30"}}{{/i18n}}</p>
        </div>
        <div>
          <img src="{{assets}}/img/download/p5-coast2coast.jpg" alt="support-31-alt">
          <p>{{#i18n "support-31"}}{{/i18n}}</p>
        </div>
      </div>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div>
<script src="{{assets}}/js/slideshow.js"></script>
