---
title: gallery
heading: 'p5.js'
language: en
---
<!-- content sections -->
<div>
  <div id = "container">
  {{>i18n-en}}
<div class="column-span">
  {{>sidebar}}
<section>

      <h2>{{#i18n "title"}}{{/i18n}}</h2>

      <p>{{#i18n "sub"}}{{/i18n}}
        <a href="mailto:feature@p5js.org">{{#i18n "email"}}{{/i18n}}</a>.
      </p>

      <div class = "gallery-item">
        <a href="http://stinedec.com/Shape-Intersect-p5js/sketch.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/social-tension.png" 
           width = "5">
        <br>
            <p>Social Tension</p>
         </a>
         <p class = "gallery-source">
         Christine de Carteret, 2015
      </div>

      <div class = "gallery-item">
        <a href="http://samanthaticknor.com/images/scroll/two.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/ol-scroll.png" 
           width = "5">
        <br>
            <p>Ol' Scroll</p>
         </a>
         <p class = "gallery-source"> Sam Ticknor, 2015 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://www.michellechandra.com/portfolio/star-trails/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/star-trails.png" 
           width = "5" alt = "preview image">
        <br>
        <p>Star Trails</p>
         </a>
         <p class = "gallery-source"> Michelle Chandra, Jason Sigal, 2014 </p>
      </div>

      <div class="spacer"></div>

      <div class = "gallery-item">
        <a href="http://emojibooth.biz/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/emoji-booth.png" 
           width = "5">
        <br>
        <p>Emoji Cam</p>
         </a>
         <p class = "gallery-source"> Alex Wiles, 2015</p>
      </div>

      <div class = "gallery-item">
        <a href="http://therewasaguy.github.io/p5-music-viz/demos/08_echonestPitchSegment/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/music-viz.png" 
           width = "5">
        <br>
        <p> Music Viz </p>
         </a>
         <p class = "gallery-source"> Jason Sigal, 2014 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://ericrosenbaum.github.io/MK-1/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/keyboard.png" 
           width = "5">
        <br>
        <p> Sampling Keyboard </p>
         </a>
         <p class = "gallery-source"> Eric Rosenbaum, 2014 </p>
      </div>

      <div class="spacer"></div>

      <div class = "gallery-item">
        <a href="http://the816.com/neobrush/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/neobrush.png" 
           width = "5">
        <br>
        <p>Neobrush</p>
         </a>
         <p class = "gallery-source"> Chris Riebschlager, 2014 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://b2renger.github.io/pages_p5js/organic_motion/index.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/organic-motion-sonification.png" 
           width = "5">
        <br>
        <p>Organic Motion</p>
         </a>
         <p class = "gallery-source"> Berenger Recoules, 2015 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://b2renger.github.io/pages_p5js/springs/index.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/springs.png" 
           width = "5">
        <br>
        <p>Springs</p>
         </a>
         <p class = "gallery-source"> Berenger Recoules, 2014 </p>
      </div>

      <div class="spacer"></div>

      <div class = "gallery-item">
        <a href="http://cell-flight.com/mural.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/cell-flight.png" 
           width = "5" alt = "preview image">
        <br>
        <p>Cell-Flight</p>
         </a>
         <p class = "gallery-source"> Kawandeep Virdee, 2014 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://104.236.250.114:3000/emoji_new/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/magic-is-real-emoji.png" 
           width = "5">
        <br>
        <p>Magic is Real-Emoji</p>
         </a>
         <p class = "gallery-source"> Marc Abbey, 2015 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://nithi-p.github.io/finalproject/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/nithi-prasanpanich.png" 
           width = "5">
        <br>
        <p>Face Sound Visualization</p>
         </a>
         <p class = "gallery-source">Nithi Prasanpanich, 2015</p>
      </div>
  <div class="spacer"></div>

      <div class = "gallery-item">
        <a href="http://otoro.net/ml/pendulum-esp-mobile/index.html"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/hardmarubox2D.png" 
           width = "5" alt = "preview image">
        <br>
        <p>Self Balancing Pendulum</p>
         </a>
         <p class = "gallery-source"> David Ha, 2015 </p>
      </div>

      <div class = "gallery-item">
        <a href="http://otoro.net/planks/"
        target="_blank">
           <img class = "gallery-img nounderline" src="{{assets}}/img/hardmaruplanks.png" 
           width = "5">
        <br>
        <p>Avoiding Planks</p>
         </a>
         <p class = "gallery-source"> David Ha, 2015 </p>
      </div>
      <div class="spacer"></div>
  {{> footer}}
  </section>
  </div>
</div>
</div>
