---
title: home
slug: /
---
<div id="home-page">
  <div id="container">

    <div class="column-span">
      <nav role="navigation">
        <ul id="menu" class="top_menu">
          <li><a href="{{root}}/download/">{{#i18n "Download"}}{{/i18n}}</a></li>
          <li><div class="separator-design-element">*</div></li>

          <li><a href="{{root}}/get-started/">{{#i18n "Start"}}{{/i18n}}</a></li>
          <li><div class="separator-design-element">*</div></li>

          <li><a href="{{root}}/reference">{{#i18n "Reference"}}{{/i18n}}</a></li>
          <li><div class="separator-design-element">*</div></li>

          <li><a href="{{root}}/libraries/">{{#i18n "Libraries"}}{{/i18n}}</a></li>
          <li><div class="separator-design-element">*</div></li>

          <li><a href="{{root}}/tutorials/">{{#i18n "Learn"}}{{/i18n}}</a></li>
          <li><div class="separator-design-element">*</div></li>

          <li><a href="{{root}}/community/">{{#i18n "Community"}}{{/i18n}}</a></li>
        </ul>
      </nav>

      <div id="content">
        <section id="home" role="region" label="main content">
          <p>
            <a href="http://hello.p5js.org">{{#i18n "hello"}}{{/i18n}}</a>
            {{#i18n "p1x1"}}{{/i18n}}<a href = "http://processing.org">Processing</a>{{#i18n "p1x2"}}{{/i18n}}
          </p>

          <p>
            {{#i18n "p2x1"}}{{/i18n}} <a href="libraries/">{{#i18n "libraries"}}{{/i18n}} </a>{{#i18n "p2x2"}}{{/i18n}}
            <a href="http://hello.p5js.org">{{#i18n "interact"}}{{/i18n}} </a> {{#i18n "p2x3"}}{{/i18n}} </p>
          <p>

          <p>{{#i18n "p3"}}{{/i18n}}</p>

        </section>
      </div>
      {{> footer}}
    </div> <!-- end column-span -->

    <div id="credits" tabindex='-1'>
        <i>In Pursuit of Relief</i> by <a href="http://wendytai.com" target="_blank">Wendy Tai</a><br>
        <a href="https://diversity.p5js.org/feature/wendytai/wendytai.html" target="_blank">Read the interview with Wendy Tai!</a>
    </div>


  </div> <!-- end container -->

  <object type="image/svg+xml" data="{{assets}}/img/thick-asterisk-alone.svg" id="asterisk-design-element">*</object>
 <iframe tabindex='-1' id='home-sketch-frame' src='{{assets}}/p5_featured/Tai_PursuingRelief/index.html'></iframe>
</div> <!-- end home-page -->


<script type='text/javascript'>
  // Microsoft Edge and IE appear to have a bug whereby
  // CSS pointer-events don't do anything on purely inline elements.
  // This means that almost all our links will be inaccessible, so
  // we'll force them to be styled as inline-block on affected browsers.
  // This does result in a few visual artifacts, but it's better than
  // having completely inaccessible links.

  // http://stackoverflow.com/a/33505753/2422398
  var EDGE_IE_REGEX = /(?:\b(MS)?IE\s+|\bTrident\/7\.0;.*\s+rv:|\bEdge\/)(\d+)/;
  if (EDGE_IE_REGEX.test(navigator.userAgent)) {
    var links = document.getElementsByTagName('a');
    for (var i=0, l=btns.length; i < l; i++) {
      links[i].style.display = 'inline-block';
    }
  }
</script>
