---
slug: sidebar
---
<!-- site navigation -->
<div class="column-span">
  <nav class="sidebar-menu-nav-element">
    <h2 id="menu-title" class="sr-only">{{#i18n "Sidebar-Title"}}{{/i18n}}</h2>
    <input class="sidebar-menu-btn" type="checkbox" id="sidebar-menu-btn" />
    <label class="sidebar-menu-icon" for="sidebar-menu-btn"><span class="sidebar-nav-icon"></span></label>
    <ul id="menu" class="sidebar-menu" aria-labelledby="menu-title">
      <li><a href="{{root}}/">{{#i18n "Home"}}{{/i18n}}</a></li>
      <li><a href="https://editor.p5js.org">{{#i18n "Editor"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/download/">{{#i18n "Download"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/download/support.html">{{#i18n "Donate"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/get-started/">{{#i18n "Start"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/reference/">{{#i18n "Reference"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/libraries/">{{#i18n "Libraries"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/learn/">{{#i18n "Learn"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/examples/">{{#i18n "Examples"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/books/">{{#i18n "Books"}}{{/i18n}}</a></li>
      <li><a href="{{root}}/community/">{{#i18n "Community"}}{{/i18n}}</a></li>
      <li><a href="https://showcase.p5js.org">{{#i18n "Showcase"}}{{/i18n}}</a></li>
      <li><a href="https://discourse.processing.org/c/p5js" target=_blank class="other-link">{{#i18n "Forum"}}{{/i18n}}</a></li>
      <li><a href="http://github.com/processing/p5.js" target=_blank class="other-link">GitHub</a></li>
      <li><a href="http://twitter.com/p5xjs" target=_blank class="other-link">Twitter</a></li>
    </ul>
  </nav>
</div>
