---
title: community
slug: community/
---

<div id="community-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >
      <h1>{{#i18n "2015contributors-conference-title"}}{{/i18n}}</h1>


      <div class="contributors-subsection">
      <h2>Frank-Ratchye STUDIO for Creative Inquiry<br>Carnegie Mellon University<br>{{#i18n "2015contributors-conference-date"}}{{/i18n}}</h2>

      <p>{{#i18n "2015contributors-conference1"}}{{/i18n}}<a href='http://studioforcreativeinquiry.org' target=_blank >Frank-Ratchye
      STUDIO for Creative Inquiry</a>{{#i18n "2015contributors-conference2"}}{{/i18n}}
      </p>
      </div>

      <img src="{{assets}}/img/community/2015_1.jpg" alt='{{#i18n "2015cc_1"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_3.jpg" alt='{{#i18n "2015cc_3"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_4.jpg" alt='{{#i18n "2015cc_4"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_5.jpg" alt='{{#i18n "2015cc_5"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_6.jpg" alt='{{#i18n "2015cc_6"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_7.jpg" alt='{{#i18n "2015cc_7"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_8.jpg" alt='{{#i18n "2015cc_8"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_9.jpg" alt='{{#i18n "2015cc_9"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_10.jpg" alt='{{#i18n "2015cc_10"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_11.jpg" alt='{{#i18n "2015cc_11"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_12.jpg" alt='{{#i18n "2015cc_12"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_13.jpg" alt='{{#i18n "2015cc_13"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_14.jpg" alt='{{#i18n "2015cc_14"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_15.jpg" alt='{{#i18n "2015cc_15"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2015_2.jpg" alt='{{#i18n "2015cc_2"}}{{/i18n}}"'/>

      <p><a href="https://www.flickr.com/photos/80913365@N04/albums/72157653238862069/with/17613092994/" target="_blank">{{#i18n "2015contributors-conference3"}}{{/i18n}}</a></p>

      <div class="contributors-subsection">
      <h2>{{#i18n "participants-title"}}{{/i18n}}</h2>
      <p>
        <a href='http://huah.net/jason/' target='_blank'>Jason Alderman</a>,
        <a href='http://sepans.com/' target='_blank'>Sepand Ansari</a>,
        <a href='http://tegabrain.com' target='_blank'>Tega Brain</a>,
        <a href='https://medium.com/@emchenNYC/' target='_blank'>Emily Chen</a>,
        <a href='http://andrescolubri.net/' target='_blank'>Andres Colubri</a>,
        <a href='https://twitter.com/lucapodular' target='_blank'>Luca Damasco</a>,
        <a href='http://guydebree.com/' target='_blank'>Guy de Bree</a>,
        <a href='http://www.cjdecarteret.com/' target='_blank'>Christine de Carteret</a>,
        <a href='http://xystudio.cc/' target='_blank'>Xy Feng</a>,
        <a href='http://www.sarahgp.com/' target='_blank'>Sarah Groff-Palermo</a>,
        <a href='http://www.crhallberg.com/' target='_blank'>Chris Hallberg</a>,
        <a href='http://valhead.com/' target='_blank'>Val Head</a>,
        <a href='http://johannahedva.com' target='_blank'>Johanna Hedva</a>,
        <a href='http://www.katehollenbach.com/' target='_blank'>Kate Hollenbach</a>,
        <a href='http://web.media.mit.edu/~jacobsj/' target='_blank'>Jennifer Jacobs</a>,
        <a href='http://www.epicjefferson.com/' target='_blank'>Epic Jefferson</a>,
        <a href='http://michellepartogi.com' target='_blank'>Michelle Partogi</a>,
        <a href='http://lav.io/' target='_blank'>Sam Lavigne</a>,
        <a href='http://flong.com' target='_blank'>Golan Levin</a>,
        <a href='http://www.liuchangitp.com/' target='_blank'>Cici Liu</a>,
        <a href='http://www.mayaman.cc/' target='_blank'>Maya Man</a>,
        <a href='http://lauren-mccarthy.com' target='_blank'>Lauren McCarthy</a>,
        <a href='http://www.workergnome.com/' target='_blank'>David Newbury</a>,
        <a href='http://molleindustria.org/' target='_blank'>Paolo Pedercini</a>,
        <a href='http://luisaph.com' target='_blank'>Luisa Pereira</a>,
        <a href='http://mileshiroo.info/' target='_blank'>Miles Peyton</a>,
        <a href='http://carolinerecord.com/' target='_blank'>Caroline Record</a>,
        <a href='http://b2renger.github.io/' target='_blank'>Berenger Recoules</a>,
        <a href='https://pibloginthesky.wordpress.com/' target='_blank'>Stephanie Pi</a>,
        <a href='http://jasonsigal.cc' target='_blank'>Jason Sigal</a>,
        <a href='http://studioindefinit.com/' target='_blank'>Kevin Siwoff</a>,
        <a href='http://charlottestiles.com/' target='_blank'>Charlotte Stiles</a>
      </p>
      </div>



      <div class="contributors-subsection">
      <h2>{{#i18n "2015contributors-conference-diversity-title"}}{{/i18n}}</h2>
        <p>{{#i18n "2015contributors-conference-diversity1"}}{{/i18n}}—<a href="http://studioforcreativeinquiry.org/events/diversity-seven-voices-on-race-gender-ability-class-for-floss-and-the-internet" target="_blank">{{#i18n "2015contributors-conference-diversity2"}}{{/i18n}}</a>{{#i18n "2015contributors-conference-diversity3"}}{{/i18n}}{{#i18n "2015contributors-conference-diversity4"}}{{/i18n}} <a href="http://johannahedva.com/" target='_blank'>Johanna Hedva</a>
        {{#i18n "2015contributors-conference-diversity5"}}{{/i18n}} <a  href="http://lauren-mccarthy.com" target="_blank">Lauren McCarthy</a>{{#i18n "2015contributors-conference-diversity6"}}{{/i18n}}{{#i18n "2015contributors-conference-diversity7"}}{{/i18n}} <a href="http://www.mayaman.cc/" target='_blank'>Maya Man</a>, <a href="http://reas.com/" target='_blank'>Casey
        Reas</a>, <a href="http://johannahedva.com/" target='_blank'>Johanna Hedva</a>, <a href="https://pibloginthesky.wordpress.com/" target='_blank'>Stephanie Pi</a>,
        <a href="http://phoenixperry.com/" target='_blank'>Phoenix Perry</a>, <a href="http://taeyoonchoi.com/" target='_blank'>Taeyoon Choi</a>,
        <a href="http://ablersite.org/" target='_blank'>Sara Hendren</a>, <a href="http://www.epicjefferson.com/" target='_blank'>Epic Jefferson</a>,
        {{#i18n "2015contributors-conference-diversity8"}}{{/i18n}} <a href="http://chandlermcwilliams.com/" target='_blank'>Chandler McWilliams</a>{{#i18n "2015contributors-conference-diversity9"}}{{/i18n}}
        <img class="alignleft size-full wp-image-8423" src="http://studioforcreativeinquiry.org/wp-content/uploads/2015/05/diversity_640.jpg" alt="diversity_640"/>
        </p>
        <iframe src="https://player.vimeo.com/video/129140298?color=ffffff&amp;byline=0&amp;portrait=0" width="720" height="405" allowfullscreen="allowfullscreen"></iframe>
        
        <table style="margin-top: 10px; background-color: #ffffff; border-collapse: collapse; border: 0px; width: 720px;">
        <tbody>
        <tr>
        <td><iframe src="https://player.vimeo.com/video/129151416?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Casey Reas</td>
        <td></td>
        <td><iframe src="https://player.vimeo.com/video/129151418?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Johanna Hedva</td>
        </tr>
        <tr>
        <td><iframe src="https://player.vimeo.com/video/129160951?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Stephanie Pi</td>
        <td></td>
        <td><iframe src="https://player.vimeo.com/video/129163155?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Phoenix Perry</td>
        </tr>
        <tr>
        <td><iframe src="https://player.vimeo.com/video/129173628?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Taeyoon Choi</td>
        <td></td>
        <td><iframe src="https://player.vimeo.com/video/129177689?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Sara Hendren</td>
        </tr>
        <tr>
        <td><iframe src="https://player.vimeo.com/video/129183825?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Epic Jefferson</td>
        <td></td>
        <td><iframe src="https://player.vimeo.com/video/129187909?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="350" height="197" allowfullscreen="allowfullscreen"></iframe>Chandler McWilliams</td>
        </tr>
        </tbody>
        </table>
        <iframe src="https://player.vimeo.com/video/129192014?color=ffffff&amp;title=1&amp;byline=0&amp;portrait=0" width="720" height="405" allowfullscreen="allowfullscreen"></iframe>
      </div>


<!--       <div class="contributors-subsection">
      <h3>Documentation</h3>
      <p><a href='https://medium.com/@tchoi8/diversity-at-sfpc-d494d7390375' target=_blank>Diversity at SFPC
      (talk by Taeyoon Choi at “Diversity: Seven Voices on Race, Gender, Ability &amp; Class for FLOSS and
      the Internet”)</a></p>
      </div> -->


      <div class="contributors-subsection">
      <h2>{{#i18n "support-title"}}{{/i18n}}</h2>

      <p>{{#i18n "support1"}}{{/i18n}} <a href='http://studioforcreativeinquiry.org'>Frank-Ratchye STUDIO for Creative Inquiry</a> {{#i18n "support2"}}{{/i18n}}</p>

      <p>{{#i18n "support3"}}{{/i18n}} <a href="http://arts.gov/" target="_blank">National Endowment for the Arts</a>,
      {{#i18n "support4"}}{{/i18n}} <a href="https://tisch.nyu.edu/itp" target="_blank">NYU Interactive Telecommunications Program</a>
      (ITP), <a href='http://foundation.processing.org' target=_blank>Processing Foundation</a>, <a href="http://theartificial.nl/" target="_blank">TheArtificial</a>, <a href="http://bocoup.com/" target="_blank">Bocoup</a>, <a href="http://tinysubversions.com/" target="_blank">Darius Kazemi</a>, {{#i18n "support5"}}{{/i18n}} <a href="http://www.du.edu/ahss/edp/" target="_blank">Emergent Digital Practices | University of Denver</a><br><b>{{#i18n "support6"}}{{/i18n}}</b></p>

      <div style='width:100%; position: relative; text-align:center'><a class='nounderline' href='http://arts.gov/' target=_blank ><img style='width:38%; padding-bottom:20px' src='{{assets}}/img/community/nea.jpg' alt=""></a></div>
      <a class='nounderline' href='http://studioforcreativeinquiry.org' target=_blank ><img style='width:18%' src='{{assets}}/img/community/studio.png' alt=""/></a>
      <a class='nounderline' href='http://itp.nyu.edu/itp/' target=_blank ><img style='width:18%' src='{{assets}}/img/community/itp.png' alt=""/></a>
      <a class='nounderline' href='http://www.du.edu/ahss/edp/' target=_blank ><img style='width:18%' src='{{assets}}/img/community/edp.png' alt=""/></a>
      <a class='nounderline' href='http://bocoup.com/' target=_blank ><img style='width:18%' src='{{assets}}/img/community/bocoup.png' alt=""/></a>
      <a class='nounderline' href='http://theartificial.nl/' target=_blank ><img style='width:18%' src='{{assets}}/img/community/theartificial.png' alt=""/></a>

      <p class="clearfix"> &nbsp;</p>
      </div>


    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
