---
title: community
slug: community/
---

<div id="community-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >
      <h1>{{#i18n "2019contributors-conference-title"}}{{/i18n}}</h1>


      <div class="contributors-subsection">
      <h2>Frank-Ratchye STUDIO for Creative Inquiry<br>Carnegie Mellon University<br>{{#i18n "2019contributors-conference-date"}}{{/i18n}}</h2>

      <p>{{#i18n "2019contributors-conference1"}}{{/i18n}}<a href='http://studioforcreativeinquiry.org' target=_blank >Frank-Ratchye
      STUDIO for Creative Inquiry</a>{{#i18n "2019contributors-conference2"}}{{/i18n}}
      </p>
      </div>
      
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/YkfG7Ggpi_o" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/At1newHnZpA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <p><a href="https://www.youtube.com/channel/UCzMs9qg50AW2LEpLDzHT5NA" target="_blank">{{#i18n "2019contributors-conference3"}}{{/i18n}}</a></p><br>

      <img src="{{assets}}/img/community/2019_1.jpg" alt='{{#i18n "2019cc_1"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_2.jpg" alt='{{#i18n "2019cc_2"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_4.jpg" alt='{{#i18n "2019cc_4"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_5.jpg" alt='{{#i18n "2019cc_5"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_6.jpg" alt='{{#i18n "2019cc_6"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_7.jpg" alt='{{#i18n "2019cc_7"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_8.jpg" alt='{{#i18n "2019cc_8"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_9.jpg" alt='{{#i18n "2019cc_9"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_10.jpg" alt='{{#i18n "2019cc_10"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_11.jpg" alt='{{#i18n "2019cc_11"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_12.jpg" alt='{{#i18n "2019cc_12"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_13.jpg" alt='{{#i18n "2019cc_13"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_15.jpg" alt='{{#i18n "2019cc_15"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_16.jpg" alt='{{#i18n "2019cc_16"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_17.jpg" alt='{{#i18n "2019cc_17"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_18.jpg" alt='{{#i18n "2019cc_18"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_19.jpg" alt='{{#i18n "2019cc_19"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_20.jpg" alt='{{#i18n "2019cc_20"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_21.jpg" alt='{{#i18n "2019cc_21"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_22.jpg" alt='{{#i18n "2019cc_22"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_23.jpg" alt='{{#i18n "2019cc_23"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/campfire.jpg" alt='{{#i18n "2019cc_25"}}{{/i18n}}"'/>
      <img src="{{assets}}/img/community/2019_24.jpg" alt='{{#i18n "2019cc_24"}}{{/i18n}}"'/>

      <p><a href="https://www.flickr.com/photos/creativeinquiry/albums/72157710545834046/" target="_blank">{{#i18n "2019contributors-conference4"}}{{/i18n}}</a></p>

      <div class="contributors-subsection">
      <h2>{{#i18n "participants-title"}}{{/i18n}}</h2>
      <p>
        <a href='https://americanartist.us/biocv' target='_blank'>American Artist</a>, 
        <a href='https://www.omayeli.com/' target='_blank'>Omayeli Arenyeka</a>, 
        <a href='http://www.sinabahram.com/' target='_blank'>Sina Bahram</a>, 
        <a href='https://aatishb.com/' target='_blank'>Aatish Bhatia</a>, 
        <a href='https://natalie.computer/' target='_blank'>Natalie Braginsky</a>, 
        <a href='https://jonchambers.net/' target='_blank'>Jon Chambers</a>, 
        <a href='https://twitter.com/lucapodular' target='_blank'>Luca Damasco</a>, 
        <a href='https://www.linkedin.com/in/aren-davey-bb3496103/' target='_blank'>Aren Davey</a>, 
        <a href='https://teddavis.org/' target='_blank'>Ted Davis</a>, 
        <a href='http://l05.is/' target='_blank'>Carlos Garcia</a>, 
        <a href='http://stalgiagrigg.name/' target='_blank'>Stalgia Grigg</a>, 
        <a href='http://www.katehollenbach.com/' target='_blank'>Kate Hollenbach</a>, 
        <a href='http://www.shawnemichaelainholloway.com/' target='_blank'>shawné michaelain holloway</a>, 
        <a href='http://www.takinglifeseriously.com/index.html' target='_blank'>Claire Kearney-Volpe</a>, 
        <a href='https://www.sonalee.me/' target='_blank'>Sona Lee</a>, 
        <a href='https://designerken.be/designing' target='_blank'>Kenneth Lim</a>, 
        <a href='https://www.outofambit.com/' target='_blank'>Evelyn Masso</a>, 
        <a href='http://lauren-mccarthy.com/' target='_blank'>Lauren McCarthy</a>, 
        <a href='https://laja.me/' target='_blank'>LaJuné McMillian</a>, 
        <a href='https://www.decontextualize.com/' target='_blank'>Allison Parrish</a>, 
        <a href='http://www.luisapereira.net/' target='_blank'>Luisa Pereira</a>, 
        <a href='https://guillemontecinos.cl/' target='_blank'>Guillermo Montecinos</a>, 
        <a href='http://montoyamoraga.io/' target='_blank'>Aarón Montoya-Moraga</a>,
        <a href='http://lm-m.com/' target='_blank'>Luis Morales-Navarro</a>, 
        Shefali Nayak, 
        <a href='http://everest-pipkin.com/' target='_blank'>Everest Pipkin</a>, 
        <a href='http://oross.net/' target='_blank'>Olivia Ross</a>, 
        <a href='https://dorothysantos.com/' target='_blank'>Dorothy R. Santos</a>, 
        <a href='https://www.yashengshe.com/' target='_blank'>Yasheng She</a>, 
        <a href='https://junshern.github.io/' target='_blank'>Jun Shern Chan</a>, 
        <a href='https://cassietarakajian.com/' target='_blank'>Cassie Tarakajian</a>, 
        <a href='https://www.laurenvalley.com/' target='_blank'>Lauren Valley</a>, 
        <a href='https://xin-xin.info' target='_blank'>Xin Xin</a>, 
        <a href='https://ayxx.me/' target='_blank'>Alex Yixuan Xu</a>, 
        <a href='http://www.qianqian-ye.com/' target='_blank'>Qianqian Ye</a>
      </p>
      </div>


      <div class="outputs-subsection">
      <h2 id='outputs'>{{#i18n "outputs"}}{{/i18n}}</h2>
      <ul aria-labelledby='outputs' class='list_view bullets'>
        <!-- arts -->
        <li>{{#i18n "output4"}}{{/i18n}}</li>
        <li>{{#i18n "output7"}}{{/i18n}}</li>
        <!-- landscape -->
        <li>{{#i18n "output6"}}{{/i18n}} <a href="https://github.com/aparrish/nb5js-proof-of-concept" target="_blank">{{#i18n "output6-1"}}{{/i18n}}</a> {{#i18n "output6-2"}}{{/i18n}}</li>
        <li>{{#i18n "output13"}}{{/i18n}}</li>
        <li>{{#i18n "output14"}}{{/i18n}}</li>

        <!-- global -->
        <li><a href="https://docs.google.com/document/d/1NPSVTWlTxWv8_rWLr8j91Qf8CcJA5ns8I8zFjCCmwuk/edit#heading=h.ea0uhs87h6fk" target="_blank">{{#i18n "output8"}}{{/i18n}}</a> {{#i18n "output8-1"}}{{/i18n}}</li>

        <!-- access -->
        <li><a href="https://docs.google.com/presentation/d/19xxc2zWWdFMAQjT6tRdN5ZU13vAKSwM7jojaC2U4F6Q/edit" target="_blank">{{#i18n "output9"}}{{/i18n}}</a>{{#i18n "output9-1"}}{{/i18n}}</li>
        <li>{{#i18n "output10"}}{{/i18n}}</li>

        <!-- music performance -->
        <li><a href="https://github.com/aahdee/p5grid">p5grid</a>{{#i18n "output1"}}{{/i18n}}</li>
        <li><a href="https://github.com/L05/p5.multiplayer">p5.multiplayer</a>{{#i18n "output2"}}{{/i18n}}</li>
        <li>{{#i18n "output3"}}{{/i18n}} <a href="https://teddavis.org/p5live/">P5LIVE</a>{{#i18n "output3-1"}}{{/i18n}}</li>
        <li>{{#i18n "output11"}}{{/i18n}}</li>
        <li>{{#i18n "output12"}}{{/i18n}}</li>
  
        <!-- workshops -->
        <li>{{#i18n "output5"}}{{/i18n}}</li>

        <!-- closing -->
        <li>{{#i18n "output15"}}{{/i18n}}</li>
        
      </ul>
      </div>

      <div class="contributors-subsection">
      <h2>{{#i18n "support-title"}}{{/i18n}}</h2>

      <p>{{#i18n "support1"}}{{/i18n}} <a href='http://studioforcreativeinquiry.org'>Frank-Ratchye STUDIO for Creative Inquiry</a> {{#i18n "support2"}}{{/i18n}}</p>

      <p>{{#i18n "support3"}}{{/i18n}} <a href="http://arts.gov/" target="_blank">National Endowment for the Arts</a>,
      {{#i18n "support4"}}{{/i18n}} <a href='http://foundation.processing.org' target=_blank>Processing Foundation</a>, <a href='https://www.mozilla.org/en-US/moss/' target=_blank>Mozilla Foundation</a>, <a href='https://www.du.edu/ahss/opensourcearts/' target=_blank>Clinic for Open Source Arts (COSA) at the University of Denver</a>, <a href='http://idm.engineering.nyu.edu/' target=_blank>NYU Tandon IDM</a>, <a href='https://tisch.nyu.edu/itp' target=_blank> NYU ITP</a>, <a href='http://thebaselschoolofdesign.ch/' target=_blank>FHNW Academy of Art and Design</a>, <a href='https://www.cdm.depaul.edu/Pages/default.aspx' target=_blank>DePaul University College of Computing and Digital Media</a>, {{#i18n "support5"}}{{/i18n}} <a href='http://amt.parsons.edu/' target=_blank>Parsons School of Art, Media, and Technology at the New School</a>.
      <br><b>{{#i18n "support6"}}{{/i18n}}</b></p>

      <div style='width:100%; position: relative; text-align:center'><a class='nounderline' href='http://arts.gov/' target=_blank ><img style='width:38%; padding-bottom:20px' src='{{assets}}/img/community/nea.jpg' alt=""></a></div>
      
      <a class='nounderline' href='http://studioforcreativeinquiry.org' target=_blank ><img style='width:20%' src='{{assets}}/img/community/studio.png' alt=""/></a>
      
      <a class='nounderline' href='http://thebaselschoolofdesign.ch/' target=_blank ><img style='width:70%' src='{{assets}}/img/community/HGK.jpg' alt=""/></a>


      <a class='nounderline' href='http://foundation.processing.org' target=_blank ><img style='width:14%' src='{{assets}}/img/community/processing-foundation.png' alt=""/></a>


      <a class='nounderline' href='https://www.du.edu/ahss/opensourcearts/' target=_blank ><img style='width:22%' src='{{assets}}/img/community/COSA.png' alt=""/></a>

      <a class='nounderline' href='http://idm.engineering.nyu.edu/' target=_blank ><img style='width:50%' src='{{assets}}/img/community/IDM.jpg' alt=""/></a>


      <a class='nounderline' href='http://amt.parsons.edu/' target=_blank ><img style='width:22%' src='{{assets}}/img/community/Parsons.jpg' alt=""/></a>

      <a class='nounderline' href='https://tisch.nyu.edu/itp' target=_blank ><img style='width:14%' src='{{assets}}/img/community/itp.png' alt=""/></a>

      <a class='nounderline' href='https://www.cdm.depaul.edu/Pages/default.aspx' target=_blank ><img style='width:50%' src='{{assets}}/img/community/depaul.png' alt=""/></a>

      
      <p class="clearfix"> &nbsp;</p>
      </div>


    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
