---
title: libraries
slug: libraries/
---

<div id="libraries-page">

  {{> sidebar}}

  <div class="column-span">

    <section>

      <h2>{{#i18n "Libraries"}}{{/i18n}}</h2>

      <h3></h3>

      <div class="left-column">
        <a class="nounderline" href="{{root}}/reference/#/libraries/p5.dom">
        <div class="label">
        <img src="{{assets}}/img/libraries/dom.jpg"></a>
        <a class="nounderline" href="{{root}}/reference/#/libraries/p5.dom">
          <h4>p5.dom</h4></a>
        </div>
        <p>{{#i18n "p5.dom"}}{{/i18n}}</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="{{root}}/reference/#/libraries/p5.sound">
        <div class="label">
        <img src="{{assets}}/img/libraries/sound.jpg"></a>
        <a class="nounderline" href="{{root}}/reference/#/libraries/p5.sound">
          <h4>p5.sound</h4></a>
        </div>
        <p>{{#i18n "p5.sound"}}{{/i18n}}</p>
      </div>

      <div class="spacer"></div>

      <a name="contributed" class="anchor">
        <h3>{{#i18n "Contributed"}}{{/i18n}}</h3></a>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/vanevery/p5.serialport">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.serial.jpg"></a>
        <a class="nounderline" href="https://github.com/vanevery/p5.serialport">
          <h4>p5.serial</h4></a>
        </div>
        <p>{{#i18n "p5.serial1"}}{{/i18n}}<a target='_blank' href='http://www.walking-productions.com/notslop/abou/'>
          Shawn Van Every</a>{{#i18n "p5.serial2"}}{{/i18n}}<a href='http://jenkagan.squarespace.com/' target='_blank'>Jen Kagan</a> {{#i18n "p5.serial3"}}{{/i18n}}<a href='http://tigoe.net/' target='_blank'>Tom Igoe.</a></p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="https://github.com/bmoren/p5.collide2D">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5collide2d.png"></a>
        <a class="nounderline" href="https://github.com/bmoren/p5.collide2D"><h4>p5.collide2D</h4></a>
        </div>
        <p>{{#i18n "p5.collide2D"}}{{/i18n}}<a target="_blank" href="http://www.benmoren.com/">Ben Moren</a>.</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="http://rednoise.org/rita">
        <div class="label">
        <img src="{{assets}}/img/libraries/rita.png"></a>
        <a class="nounderline" href="http://rednoise.org/rita"><h4>rita.js</h4></a>
        </div>
        <p>{{#i18n "rita.js"}}{{/i18n}}<a target="_blank" href="http://rednoise.org/daniel">Daniel C. Howe</a>.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="https://github.com/bmoren/p5.geolocation">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.geolocation.png"></a>
        <a class="nounderline" href="https://github.com/bmoren/p5.geolocation"><h4>p5.geolocation</h4></a>
        </div>
        <p>{{#i18n "p5.geolocation"}}{{/i18n}}<a target="_blank" href="http://www.benmoren.com/">Ben Moren</a>.</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="http://abilitylab.nyu.edu/p5.js-speech/">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.speech.jpg"></a>
        <a class="nounderline" href="http://abilitylab.nyu.edu/p5.js-speech/"><h4>p5.speech</h4></a>
        </div>
        <p>{{#i18n "p5.speech"}}{{/i18n}}<a target='_blank' href='http://lukedubois.com/'>R. Luke DuBois</a>.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="https://github.com/sarahgp/p5bots">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.bots.jpg"></a>
        <a class="nounderline" href="https://github.com/sarahgp/p5bots"><h4>p5.bots</h4></a>
        </div>
        <p>{{#i18n "p5.bots"}}{{/i18n}}<a target='_blank' href='http://www.sarahgp.com'>Sarah Groff-Palermo</a>.</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/jagracar/grafica.js">
        <div class="label">
        <img src="{{assets}}/img/libraries/grafica.jpg"></a>
        <a class="nounderline" href="https://github.com/jagracar/grafica.js"><h4>grafica.js</h4></a>
        </div>
        <p>{{#i18n "grafica.js"}}{{/i18n}}<a target='_blank' href='http://jagracar.com/p5jsSketches.php'>Javier Graciá Carpio</a>.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="http://p5play.molleindustria.org">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.play3.png"></a>
        <a class="nounderline" href="http://p5play.molleindustria.org"><h4>p5.play</h4></a>
        </div>
        <p>{{#i18n "p5.play"}}{{/i18n}}<a target='_blank' href='http://www.molleindustria.org/'>Paolo Pedercini</a>.</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/antiboredom/p5.gif.js">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.gif.gif"></a>
        <a class="nounderline" href="https://github.com/antiboredom/p5.gif.js"><h4>p5.gif</h4></a>
        </div>
        <p>{{#i18n "p5.gif"}}{{/i18n}}<a target='_blank' href='http://lav.io/'>Sam Lavigne</a>.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="http://charlie-roberts.com/gibber/p5-gibber/">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.gibber.jpg"></a>
        <a class="nounderline" href="http://charlie-roberts.com/gibber/p5-gibber/"><h4>p5.gibber</h4></a>
        </div>
        <p>{{#i18n "p5.gibber"}}{{/i18n}}<a target='_blank' href='http://charlie-roberts.com'>Charlie Roberts</a>.</p>
      </div>


      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/bobcgausa/cook-js">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.particle.png"></a>
        <a class="nounderline" href="https://github.com/bobcgausa/cook-js"><h4>p5.particle</h4></a>
        </div>
        <p>{{#i18n "p5.particle"}}{{/i18n}}<a target='_blank' href='http://professorcook.org/'>Robert Cook</a>.</p>
      </div>


      <div class="spacer"></div>

      <a name="using-a-library" class="anchor">
        <h3>{{#i18n "using-a-library-title"}}{{/i18n}}</h3></a>

      <p>{{#i18n "using-a-library1"}}{{/i18n}}<a href="{{root}}/reference/#/libraries/dom">p5.dom</a>
      and <a href="{{root}}/reference/#/libraries/sound">p5.sound</a>) are part of the p5.js
      distribution, while contributed libraries are developed, owned, and maintained by members of the p5.js
      community.</p>

      <p>To include a library in your sketch, link it into your HTML file, after you have linked in p5.js.
      An example HTML file might look like this:</p>
      <pre><code class="language-markup">&lt;!doctype html>
&lt;html>
&lt;head>
  &lt;script src="p5.js"></script>
  &lt;script src="p5.sound.js"></script>
  &lt;script src="sketch.js"></script>
&lt;/head>
&lt;body>
&lt;/body>
&lt;/html></code></pre>

      <a name="create-your-own" class="anchor"><h3>Create Your Own</h3></a>

      <p>p5.js welcomes libraries contributed by others! Check out the
      <a href="https://github.com/processing/p5.js/wiki/Libraries">libraries tutorial</a> for more
      specifics about how to create one.</p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
