---
title: libraries
heading: 'p5.js'
language: en
---
<!-- content sections -->

<div>
  <div id = "container">
  {{>i18n-en}}
  {{>logo}}
<div class="column-span">
  {{>sidebar}}
  <section>
  <h2>{{#i18n "title"}}{{/i18n}}</h2>
  <div class="left-column">
        <a class="nounderline" href="../reference/#/libraries/p5.dom">
        <div class="label">
        <img src="{{assets}}/img/libraries/dom.jpg"></a>
        <a class="nounderline" href="../reference/#/libraries/p5.dom"><h4>{{#i18n "dom"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "domText"}}{{/i18n}}</p> 
      </div>

      <div class="right-column">
        <a class="nounderline" href="../reference/#/libraries/p5.sound">
        <div class="label">
        <img src="{{assets}}/img/libraries/sound.jpg"></a>
        <a class="nounderline" href="../reference/#/libraries/p5.sound"><h4>{{#i18n "sound"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "soundText"}}{{/i18n}}</p> 
      </div>

      <div class="spacer"></div>

      <a name="contributed" class="anchor"><h3>{{#i18n "head1"}}{{/i18n}}</h3></a>


      <div class="left-column">
        <a class="nounderline" href="http://abilitylab.nyu.edu/p5.js-speech/">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.speech.jpg"></a>
        <a class="nounderline" href="http://abilitylab.nyu.edu/p5.js-speech/"><h4>{{#i18n "speech"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "speechText"}}{{/i18n}}<a target='_blank' href='http://lukedubois.com/'>R. Luke DuBois</a>.</p> 
      </div>

      <div class="right-column">
        <a class="nounderline" href="http://p5play.molleindustria.org">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.play3.png"></a>
        <a class="nounderline" href="http://p5play.molleindustria.org"><h4>{{#i18n "play"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "playText"}}{{/i18n}}<a target='_blank' href='http://www.molleindustria.org/'>Paolo Pedercini</a>.</p> 
      </div>


      <div class="spacer"></div>
      
      <div class="left-column">
        <a class="nounderline" href="https://github.com/jagracar/grafica.js">
        <div class="label">
        <img src="{{assets}}/img/libraries/grafica.jpg"></a>
        <a class="nounderline" href="https://github.com/jagracar/grafica.js"><h4>{{#i18n "grafica"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "graficaText"}}{{/i18n}}<a target='_blank' href='http://jagracar.com/p5jsSketches.php'>Javier Graciá Carpio</a>.</p> 
      </div>

      <div class="right-column">
        <a class="nounderline" href="http://charlie-roberts.com/gibber/p5-gibber/">
        <div class="label">
        <img src="{{assets}}/img/libraries/p5.gibber.jpg"></a>
        <a class="nounderline" href="http://charlie-roberts.com/gibber/p5-gibber/"><h4>{{#i18n "gibber"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "gibberText"}}{{/i18n}}<a target='_blank' href='http://charlie-roberts.com'>Charlie Roberts</a>.</p> 
      </div>


      <div class="spacer"></div>

      <a name="using-a-library" class="anchor"><h3>{{#i18n "head2"}}{{/i18n}}</h3></a>

      <p>{{#i18n "p1x1"}}{{/i18n}}<a href="../reference/#/libraries/dom">p5.dom</a> 
      {{#i18n "and"}}{{/i18n}}<a href="../reference/#/libraries/sound">p5.sound</a>{{#i18n "p1x2"}}{{/i18n}}</p>

      <p>{{#i18n "p1x3"}}{{/i18n}}</p>
      <pre><code class="language-markup">&lt;!doctype html>
&lt;html>
&lt;head>
  &lt;script src="p5.js"></script>
  &lt;script src="p5.sound.js"></script>
  &lt;script src="sketch.js"></script>
&lt;/head>
&lt;body>
&lt;/body>
&lt;/html></code></pre>

      <a name="create-your-own" class="anchor"><h3>{{#i18n "head3"}}{{/i18n}}</h3></a>

      <p>{{#i18n "p2x1"}}{{/i18n}}
      <a href="https://github.com/processing/p5.js/wiki/Libraries">{{#i18n "tutorial"}}{{/i18n}}</a>{{#i18n "p2x2"}}{{/i18n}}</p>
  {{> footer}}
  </section>
  </div>
</div>
</div>
