---
title: showcase
slug: showcase/
---

<div id="showcase-page">

  {{> sidebar}}

  <main class="column-span">
    <section class="showcase-intro">
      <h1>{{#i18n "showcase-title"}}{{/i18n}}</h1>
      
      <p>{{#i18n "showcase-intro1"}}{{/i18n}}<a href="https://ashleykang.dev" target="_blank">Ashley Kang</a>.</p>
      <p>{{#i18n "showcase-intro2"}}{{/i18n}}</p>
      <p>{{#i18n "showcase-intro3"}}{{/i18n}}</p>

      <article id="nominate" class="link-decoration">
        <a href="https://forms.gle/tukmUDqzLUwckjAVA" target="_blank">Nominate a Project</a>
      </article>
    </section>

    <section class="showcase-featured">
      <h2 id="featuring">{{#i18n "showcase-featuring"}}{{/i18n}}</h2>

      <ul class="left-column">
        <li>
          <img src="{{assets}}/img/showcase/roni-cantor/roni-cantor_plotter-white.jpg" 
            alt="A drawing of a sine wave lerp plotted on black paper using an AxiDraw V3 and a white gel pen.">
          <h3 class="title"><a href="./featuring/roni-cantor.html">{{#i18n "project-roni"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-roni"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-roni"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-art"}}{{/i18n}}</span></li>
            <li><span class="tag">{{#i18n "project-tag-design"}}{{/i18n}}</span></li>
          </ul>
        </li>

        <li>
          <img src="{{assets}}/img/showcase/daein-chung/daein-chung_chillin.png" 
            alt="A screenshot of a poster with red and yellow circles of letters from the word chillin against a blue tile background that changes perspective on a mobile device. 
            At the top, there is a text input box to enter a message and download your own poster.">
          <h3 class="title"><a href="./featuring/daein-chung.html">{{#i18n "project-daein"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-daein"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-daein"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-design"}}{{/i18n}}</span></li>
          </ul>
        </li>

        <li>
          <img src="{{assets}}/img/showcase/casey-louise/casey-louise_p5js-shaders.png" 
            alt="A screenshot of the Introduction page of the p5.js Shaders guide website.">
          <h3 class="title"><a href="./featuring/casey-louise.html">{{#i18n "project-casey-louise"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-casey-louise"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-casey-louise"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-documentation"}}{{/i18n}}</span></li>
            <li><span class="tag">{{#i18n "project-tag-tutorial"}}{{/i18n}}</span></li>
          </ul>
        </li>
      </ul>

      <ul class="right-column">
        <li>
          <img src="{{assets}}/img/showcase/phuong-ngo/phuong-ngo_airi-flies.png" 
            alt="A screenshot of the instructions and scoreboard for the online game Airi Flies.">
          <h3 class="title"><a href="./featuring/phuong-ngo.html">{{#i18n "project-phuong"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-phuong"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-phuong"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-art"}}{{/i18n}}</span></li>
            <li><span class="tag">{{#i18n "project-tag-design"}}{{/i18n}}</span></li>
            <li><span class="tag">{{#i18n "project-tag-game"}}{{/i18n}}</span></li>
          </ul>
        </li>

        <li>
          <img src="{{assets}}/img/showcase/qianqian-ye/qianqian-ye_qtv.png" 
            alt="A screenshot of a Qtv video (Guest Talk #1) featuring Chinese womxn designers and artists Kaikai and Cheng Xu.">
          <h3 class="title"><a href="./featuring/qianqian-ye.html">{{#i18n "project-qianqian"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-qianqian"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-qianqian"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-tutorial"}}{{/i18n}}</span></li>
          </ul>
        </li>

        <li>
          <img src="{{assets}}/img/showcase/moon-xin/moon-xin_poster-carlee.png" 
            alt="A screenshot of student Carlee Wooddell's poster that interprets the word zigzag using letters that bounce left and right.">
          <h3 class="title"><a href="./featuring/moon-xin.html">{{#i18n "project-moon-xin"}}{{/i18n}}</a></h3>
          <p class="credit">{{#i18n "credit-moon-xin"}}{{/i18n}}</p>
          <p class="description">{{#i18n "description-moon-xin"}}{{/i18n}}</p>
          <ul class="project-tags">
            <li><span class="tag">{{#i18n "project-tag-design"}}{{/i18n}}</span></li>
            <li><span class="tag">{{#i18n "project-tag-curriculum"}}{{/i18n}}</span></li>
          </ul>
        </li>
      </ul>
    </section>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>