---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main >

      <h1>{{#i18n "accessible-labels-title"}}{{/i18n}}</h1>

      <h2>{{#i18n "accessible-labels-intro"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-intro-1"}}{{/i18n}}</p>

      <h2>{{#i18n "accessible-labels-what-is-labeling"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-what-is-labeling-1"}}{{/i18n}}</p>

      <h2>{{#i18n "accessible-labels-why-labeling-matters"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-why-labeling-matters-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-why-labeling-matters-2"}}{{/i18n}}</p>

      <h2>{{#i18n "accessible-labels-available-labels"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-available-labels-1"}}{{/i18n}}:</p>
      <ul class="list_view">
        <li>{{#i18n "accessible-labels-available-labels-li-1"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-available-labels-li-2"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-available-labels-li-3"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-available-labels-li-4"}}{{/i18n}}</li>
      </ul>

      <h2>{{#i18n "accessible-labels-prerequisites"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-prerequisites-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-prerequisites-2"}}{{/i18n}}</p>

      <script type="text/p5" data-p5-version="{{ version }}">
function setup() {
  createCanvas(100, 100);
  describe('A blue square in the center of a black canvas.');
}

function draw() {
  background(250);
  noStroke();
  fill(200,0,0);
  
  rect(67, 67, 20, 20);
}
</script>

      <h2>{{#i18n "accessible-labels-steps-for-labeling"}}{{/i18n}}</h2>

      <h3>{{#i18n "accessible-labels-steps-for-labeling-step-1"}}{{/i18n}}</h3>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-2"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-3"}}{{/i18n}}</p>

      <script type="text/p5" data-p5-version="{{ version }}">
function setup() {
  createCanvas(100, 100);
  describe('A red heart in the bottom right corner of a white background.');
}

function draw() {
  background(250);
  noStroke();
  fill(200,0,0);
  
  ellipse(67, 67, 20, 20);
  ellipse(83, 67, 20, 20);
  triangle(91, 73, 75, 95, 59, 73);
}
</script>

      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-4"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-5"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-6"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-7"}}{{/i18n}}</p>

      <h4>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex"}}{{/i18n}}</h4>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-1"}}{{/i18n}}</p>
      <ul class="list_view">
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-li-1"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-li-2"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-li-3"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-li-4"}}{{/i18n}}</li>
      </ul>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-1-complex-2"}}{{/i18n}}</p>

      <h3>{{#i18n "accessible-labels-steps-for-labeling-step-2"}}{{/i18n}}</h3>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-2"}}{{/i18n}}</p>
      <h4>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de"}}{{/i18n}}</h4>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de-2"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de-3"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de-4"}}{{/i18n}}</p>

      <script type="text/p5" data-p5-version="{{ version }}">
function setup() {
  createCanvas(100, 100);
  // Provides an overall description of the canvas.
describe('Text in the top right corner with red heart in the bottom right corner on a white background.');
}

function draw() {
  background(250);
  noStroke();
  fill(200, 0, 0);
  
  textSize(12);
  textStyle(NORMAL);
// Specific label for text.
  describeElement('Text', 'The text "Hello world!" in the upper left corner of a white canvas.');
  text('Hello world!', 5, 30);

  // Specific label for the heart.
  describeElement('Heart', 'A red heart in the bottom right corner.');
  ellipse(67, 67, 20, 20);
  ellipse(83, 67, 20, 20);
  triangle(91, 73, 75, 95, 59, 73);

}
</script>

      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-de-5"}}{{/i18n}}</p>
      <h4>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-go-to"}}{{/i18n}}</h4>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-using-go-to-1"}}{{/i18n}}</p>
      <h4>{{#i18n "accessible-labels-steps-for-labeling-step-2-animated"}}{{/i18n}}</h4>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-animated-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-animated-2"}}{{/i18n}}</p>

      <script type="text/p5" data-p5-version="{{ version }}">
let x = 0;

function setup() {
  createCanvas(100, 100);
}

function draw() {
  if (x > 100) {
    x = 0;
  }
  background(220);
  fill(0, 255, 0);
  ellipse(x, 50, 40, 40);
  x = x + 0.1;
  // Label updates with shape’s translation.
  describe(`A green circle at x position ${round(x)}, moving to the right.`, LABEL);
}
</script>

      <h4>{{#i18n "accessible-labels-steps-for-labeling-step-2-do-donts"}}{{/i18n}}</h4>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-do-donts-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-2-do-donts-2"}}{{/i18n}}</p>

      <h3>{{#i18n "accessible-labels-steps-for-labeling-step-3"}}{{/i18n}}</h3>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-3-1"}}{{/i18n}}</p>

<script type="text/p5" data-p5-version="{{ version }}">
function setup() {
  createCanvas(100, 100);
}

function draw() {

  // LABEL shows the label next to the canvas.
  gridOutput(LABEL);
  
  background(250);
  noStroke();
  fill(200, 0, 0);
  
  ellipse(67, 67, 20, 20);
  ellipse(83, 67, 20, 20);
  triangle(91, 73, 75, 95, 59, 73);
}
</script>

      <p>{{#i18n "accessible-labels-steps-for-labeling-step-3-2"}}{{/i18n}}</p>
      <ul class="list_view">
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-3-2-li-1"}}{{/i18n}}</li>
        <li>{{#i18n "accessible-labels-steps-for-labeling-step-3-2-li-2"}}{{/i18n}}</li>
      </ul>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-3-3"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-steps-for-labeling-step-3-4"}}{{/i18n}}</p>

      <h2>{{#i18n "accessible-labels-conclusion"}}{{/i18n}}</h2>
      <p>{{#i18n "accessible-labels-conclusion-1"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-conclusion-2"}}{{/i18n}}</p>
      <p>{{#i18n "accessible-labels-conclusion-3"}}{{/i18n}}</p>

<!-- this script only needs to get added once even if there are multiple widget instances -->
<script src= "//toolness.github.io/p5.js-widget/p5-widget.js"></script>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->