---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main >
      <div class="attribution">
      {{#i18n "coordinate-system-description1"}}{{/i18n}}<em>{{#i18n "coordinate-system-description2"}}{{/i18n}}</em>{{#i18n "coordinate-system-description3"}}{{/i18n}}<a href="https://github.com/processing/processing-docs/issues?state=open">{{#i18n "coordinate-system-description4"}}{{/i18n}}</a>{{#i18n "coordinate-system-description5"}}{{/i18n}}</div>

      <h1>{{#i18n "coordinate-system-description-title"}}{{/i18n}}</h1>
      <p>{{#i18n "coordinate-system-description-p1x1"}}{{/i18n}}</p>
      <img src="{{assets}}/learn/coordinate-system-and-shapes/images/drawing-01.png" alt="">

      <p>{{#i18n "coordinate-system-description-p2x1"}}{{/i18n}}</p>

      <pre><code class="language-javascript">
        line(1,0,4,5);
      </code></pre>

      <p>{{#i18n "coordinate-system-description-p3x1"}}{{/i18n}}</p>
      <img src="{{assets}}/learn/coordinate-system-and-shapes/images/drawing-02.png" alt="">

      <p>{{#i18n "coordinate-system-description-p4x1"}}{{/i18n}}</p>

      <p>{{#i18n "coordinate-system-description-p5x1"}}{{/i18n}}</p>
      <img src="{{assets}}/learn/coordinate-system-and-shapes/images/drawing-03.svg" alt="">

      <h2>{{#i18n "coordinate-system-simple-shapes-title"}}{{/i18n}}</h2>
      <p>{{#i18n "coordinate-system-simple-shapes-p1x1"}}{{/i18n}}</p>
      <img src="{{assets}}/learn/coordinate-system-and-shapes/images/drawing-04.png" alt="">

      <p>{{#i18n "coordinate-system-simple-shapes-p2x1"}}{{/i18n}}</p>

      <p>{{#i18n "coordinate-system-simple-shapes-p3x1"}}{{/i18n}}<a href="/reference/#/p5/point">point()</a>{{#i18n "coordinate-system-simple-shapes-p3x2"}}{{/i18n}}</p>
      <!-- this script only needs to get added once even if there are multiple widget instances -->
      <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
}
function draw(){
  point(40, 50); // point(x, y)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p4x1"}}{{/i18n}}<a href="/reference/#/p5/line">line()</a>{{#i18n "coordinate-system-simple-shapes-p4x2"}}{{/i18n}}</p>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
}
function draw(){
  line(10, 20, 50, 20); // line(x1, y1, x2, y2)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p5x1"}}{{/i18n}}<a href="/reference/#/p5/rect">rect()</a>{{#i18n "coordinate-system-simple-shapes-p5x2"}}{{/i18n}}</p>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
}
function draw(){
  rect(10, 20, 40, 30); // rect(x, y, width, height)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p6x1"}}{{/i18n}}<a href="/reference/#/p5/CENTER">CENTER</a>{{#i18n "coordinate-system-simple-shapes-p6x2"}}{{/i18n}}</p>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  rectMode(CENTER);
}
function draw(){
  rect(30, 20, 40, 20); // rect(x, y, width, height)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p7x1"}}{{/i18n}}<a href="/reference/#/p5/CORNERS">CORNERS</a>{{#i18n "coordinate-system-simple-shapes-p7x2"}}{{/i18n}}</p>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  rectMode(CORNERS);
}
function draw(){
  rect(10, 10, 50, 30); // rect(x1, y1, x2, y2)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p8x1"}}{{/i18n}}<a href="/reference/#/p5/ellipse">ellipse()</a>{{#i18n "coordinate-system-simple-shapes-p8x2"}}{{/i18n}}<a href="/reference/#/p5/rect">rect()</a>{{#i18n "coordinate-system-simple-shapes-p8x3"}}{{/i18n}}<a href="/reference/#/p5/ellipse">ellipse()</a>{{#i18n "coordinate-system-simple-shapes-p8x4"}}{{/i18n}}<a href="/reference/#/p5/CENTER">CENTER</a>{{#i18n "coordinate-system-simple-shapes-p8x5"}}{{/i18n}}<a href="/reference/#/p5/CORNER">CORNER</a>{{#i18n "coordinate-system-simple-shapes-p8x6"}}{{/i18n}}</p>
<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  ellipseMode(CENTER);
}
function draw(){
  ellipse(30, 30, 40, 60); // ellipse(x, y, width, height)
}
</script>

<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  ellipseMode(CORNER);
}
function draw(){
  ellipse(10, 10, 30, 50); // ellipse(x, y, width, height)
}
</script>

<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  ellipseMode(CORNERS);
}
function draw(){
  ellipse(10, 10, 40, 50); // ellipse(x1, y1, x2, y2)
}
</script>

      <p>{{#i18n "coordinate-system-simple-shapes-p9x1"}}{{/i18n}}</p>

<script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(200, 200);
  rectMode(CENTER);
}
function draw(){
  rect(100,100,20,100);
  ellipse(100,70,60,60);
  ellipse(81,70,16,32);
  ellipse(119,70,16,32);
  line(90,150,80,160);
  line(110,150,120,160);
}
</script>


    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
