---
title: learn
slug: learn/
---

<style>
  .methodsList {
    font-family: monospace;
  }

  .additionalInformation {
    width: 100%;
    background-color: #dedeff;
    padding: 10px;
    margin: 30px 0;
  }

  .toc {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    margin: 30px 0;
  }

  .toc h3 {
    margin-top: 15px;
  }

  .indexList {
    padding: 15px;
    background-color: whitesmoke;
  }
</style>

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main>
      <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>

      <h1>{{#i18n "getting-started-in-webgl-appearance-title"}}{{/i18n}}</h1>

      <p>
        {{#i18n "getting-started-in-webgl-appearance-p0x1"}}{{/i18n}}
      </p>

      <div class="toc">
        <h3>{{#i18n "getting-started-in-webgl-appearance-toc-title"}}{{/i18n}}</h3>
        <ol>
          <li><a href="#camera">{{#i18n "getting-started-in-webgl-appearance-heading1"}}{{/i18n}}</a></li>
          <li><a href="#lighting">{{#i18n "getting-started-in-webgl-appearance-heading2"}}{{/i18n}}</a></li>
          <li><a href="#materials">{{#i18n "getting-started-in-webgl-appearance-heading3"}}{{/i18n}}</a></li>          
          <li><a href="#conclusion">{{#i18n "getting-started-in-webgl-appearance-heading4"}}{{/i18n}}</a></li>          
          <li><a href="#glossary">{{#i18n "getting-started-in-webgl-glossary-title"}}{{/i18n}}</a></li>          
        </ol>
      </div>

      <h2 id="camera">{{#i18n "getting-started-in-webgl-appearance-heading1"}}{{/i18n}}</h2>

      <p>{{#i18n "getting-started-in-webgl-appearance-p1x1"}}{{/i18n}} <a class="code" href="{{root}}/reference/#/p5/perspective">perspective()</a> {{#i18n "getting-started-in-webgl-appearance-p1x2"}}{{/i18n}} <a
      class="code" href="{{root}}/reference/#/p5/ortho">ortho()</a>.</p>

      <img style="padding:60px;" src='{{assets}}/learn/basic3d/images/cameraTypeIllustration.png'
        alt="an illustration showing the difference between perspective and orthographic camera types">

      <p>{{#i18n "getting-started-in-webgl-appearance-p2x1"}}{{/i18n}}</p>

      {{!-- sketch illustrating 3D camera --}}
      <iframe src="{{assets}}/learn/basic3d/cameraExample.html" width="720" height="350">
      </iframe>

      <p>{{#i18n "getting-started-in-webgl-appearance-p3x1"}}{{/i18n}}</p>

      <p>{{#i18n "getting-started-in-webgl-appearance-p4x1"}}{{/i18n}}</p>

      <div style="display:flex; align-items:center; justify-content: center;">
      <img style="width:50%;" src='{{assets}}/learn/basic3d/images/frustum_example.png'
        alt="an illustration showing the the camera frustum in purple, the near plane represented by a 
        yellow rectangle near the camera, and far plane as a green rectangle on the opposite end of the frustum volume.">
      </div>

      <p>{{#i18n "getting-started-in-webgl-appearance-p5x1"}}{{/i18n}}<a class="code"
      href="{{root}}/reference/#/p5/orbitControl">orbitControl()</a>{{#i18n "getting-started-in-webgl-appearance-p5x2"}}{{/i18n}}</p>

      <p>{{#i18n "getting-started-in-webgl-appearance-p6x1"}}{{/i18n}}</p>

      {{!-- camera example --}}
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup() {
  createCanvas(windowWidth, windowHeight, WEBGL);
  debugMode()
  // uncomment to change the perspective camera to orthographic
  // ortho();

  // setting initial camera position
  camera(200,-40, 200);

  describe('a 3d scene with a sphere on the bottom and box on the top');
}

function draw() {
  background(220);
  
  let sphere_x = 0;
  let sphere_y = 90;
  let sphere_z = 0;
  
  let box_x = 0;
  let box_y = -90;
  let box_z = 0;
  
  // uncomment to point camera at sphere
  // camera(
  //   400,-40, 400, // camera position
  //   sphere_x, sphere_y, sphere_z // position to look at
  // );
  
  // uncomment to point camera at box
  // camera(
  //   400,-40, 400, // camera position
  //   box_x, box_y, box_z // position to look at
  // );
  
  push();
  translate(sphere_x, sphere_y, sphere_z);
  sphere(40,8);
  pop();
  
  push();
  translate(box_x, box_y, box_z);
  box();
  pop();
}
      </script>

      <h2 id="lighting">{{#i18n "getting-started-in-webgl-appearance-heading2"}}{{/i18n}}</h2>

      <p>{{#i18n "getting-started-in-webgl-appearance-p7x1"}}{{/i18n}}</p>

      <dl>
        <dt><a class="code" href="{{root}}/reference/#/p5/ambientLight">ambientLight()</a></dt>
        <dd>{{#i18n "getting-started-in-webgl-appearance-lighting-list1"}}{{/i18n}}</dd>
        <dt><a class="code" href="{{root}}/reference/#/p5/directionalLight">directionalLight()</a></dt>
        <dd>{{#i18n "getting-started-in-webgl-appearance-lighting-list2"}}{{/i18n}}</dd>
        <dt><a class="code" href="{{root}}/reference/#/p5/pointLight">pointLight()</a></dt>
        <dd>{{#i18n "getting-started-in-webgl-appearance-lighting-list3"}}{{/i18n}}</dd>
        <dt><a class="code" href="{{root}}/reference/#/p5/spotLight">spotLight()</a></dt>
        <dd>{{#i18n "getting-started-in-webgl-appearance-lighting-list4"}}{{/i18n}}</dd>
        <dt><a class="code" href="{{root}}/reference/#/p5/noLights">noLights()</a></dt>
        <dd>{{#i18n "getting-started-in-webgl-appearance-lighting-list5"}}{{/i18n}}</dd>
      </dl>

      <p>
        {{#i18n "getting-started-in-webgl-appearance-p8x1"}}{{/i18n}}
      </p>

      {{!-- sketch illustrating lighting of geometry --}}
      <iframe src="{{assets}}/learn/basic3d/lightingExample.html" width="720" height="350">
      </iframe>

      <p>{{#i18n "getting-started-in-webgl-appearance-p9x1"}}{{/i18n}}</p>

      <br />

            {{!-- lighting example --}}
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup() {
  createCanvas(windowWidth, windowHeight, WEBGL);
  camera(100,-80, 100);
  describe('a box geometry with a number of lights affecting its appearance');
}

function draw() {
  background(220);
  
  orbitControl();
  
  // use comments to enable / disable lights
  
  ambientLight(20);
  
  pointLight(
    255, 0, 0, // color
    40, -40,0  // position
  );
  
  directionalLight(
    0,255,0, // color
    1, 1, 0  // direction
  );
  
  let locX = mouseX - width / 2;
  let locY = mouseY - height / 2;
  spotLight(
    0, 0, 255,       // color
    locX, locY, 100, // position
    0, 0, -1,        // direction
    40               // radius of the spotlight cone
  );
  
  // noLights();
  
  box();
}
      </script>

      <h2 id="materials">{{#i18n "getting-started-in-webgl-appearance-heading3"}}{{/i18n}}</h2>
      <p>{{#i18n "getting-started-in-webgl-appearance-p10x1"}}{{/i18n}}</p>

      <ul>
        <li><a class="code" href="{{root}}/reference/#/p5/normalMaterial">normalMaterial()</a></li>
        <li><a class="code" href="{{root}}/reference/#/p5/ambientMaterial">ambientMaterial()</a></li>
        <li><a class="code" href="{{root}}/reference/#/p5/emissiveMaterial">emissiveMaterial()</a></li>
        <li><a class="code" href="{{root}}/reference/#/p5/specularMaterial">specularMaterial()</a></li>
      </ul>

      <p>{{#i18n "getting-started-in-webgl-appearance-p11x1"}}{{/i18n}}</p>

      {{!-- sketch illustrating materials --}}
      <iframe src="{{assets}}/learn/basic3d/materialsExample.html" width="720" height="350">
      </iframe>

      <p>{{#i18n "getting-started-in-webgl-appearance-p12x1"}}{{/i18n}}</p>

      {{!-- material example --}}
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup() {
  createCanvas(innerWidth, innerHeight, WEBGL);
  describe('a sphere geometry with multiple materials applied to it');
}

function draw() {
  background(220);
  camera(200, -200, 200);
  
  noStroke();

  ambientLight(128);
  let locX = mouseX - width / 2;
  let locY = mouseY - height / 2;
  pointLight(255, 255, 255, locX, locY, 100);

  // normal material shows the geometry normals
  normalMaterial();

  // ambient materials reflect under any light
  ambientMaterial(255, 0, 0);

  // emissive materials show the same color regardless of light
  emissiveMaterial(0, 255, 0);

  // specular materials reflect the color of the light source 
  // and can vary in 'shininess'
  shininess(10);
  specularMaterial(0, 0, 255);

  // box(50);
  sphere();
}
      </script>

      <p>{{#i18n "getting-started-in-webgl-appearance-p13x1"}}{{/i18n}}</p>

      {{!-- texture example --}}
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let myTexture;

function preload() {
  myTexture = loadImage("{{assets}}/learn/basic3d/images/simpleTexture.png");
  // map textures between 0 and 1 to match geometry uvs
  textureMode(NORMAL);
}

function setup() {
  createCanvas(innerWidth, innerHeight, WEBGL);
  describe('a rotating box with a texture of a pink scribble mapped onto it');
}

function draw() {
  background(220);
  
  // apply the texture to the box
  texture(myTexture);
  
  push();
  rotateX(millis()/1000);
  rotateY(millis()/700);
  box();
  pop();
}
      </script>


      <div class="additionalInformation">
        <p> 
          {{#i18n "getting-started-in-webgl-appearance-info1x1"}}{{/i18n}} <a href="{{root}}/learn/getting-started-in-webgl-shaders.html">{{#i18n "getting-started-in-webgl-appearance-info1x2"}}{{/i18n}}</a> {{#i18n "getting-started-in-webgl-appearance-info1x3"}}{{/i18n}}
        </p>
      </div>

      <h2 id="conclusion">{{#i18n "getting-started-in-webgl-appearance-heading4"}}{{/i18n}}</h2>

      <p>{{#i18n "getting-started-in-webgl-appearance-p14x1"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-other-tutorials-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-other-tutorials-p"}}{{/i18n}}</p>
      <ul class="indexList">
        <li><a href="{{root}}/learn/getting-started-in-webgl-coords-and-transform.html">{{#i18n "getting-started-in-webgl-other-tutorials-tut1"}}{{/i18n}}</a></li>
        <li><a href="{{root}}/learn/getting-started-in-webgl-custom-geometry.html">{{#i18n "getting-started-in-webgl-other-tutorials-tut2"}}{{/i18n}}</a></li>
        <li>{{#i18n "getting-started-in-webgl-other-tutorials-tut3"}}{{/i18n}} {{#i18n "getting-started-in-webgl-other-tutorials-you-are-here"}}{{/i18n}}</li>
        <li><a href="{{root}}/learn/getting-started-in-webgl-shaders.html">{{#i18n "getting-started-in-webgl-other-tutorials-tut4"}}{{/i18n}}</a></li>
      </ul>

      <h2 id="glossary">{{#i18n "getting-started-in-webgl-glossary-title"}}{{/i18n}}</h2>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term1-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term1-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term2-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term2-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term3-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term3-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term4-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term4-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term5-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term5-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term6-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term6-definition"}}{{/i18n}}</p>

      <h3>{{#i18n "getting-started-in-webgl-appearance-glossary-term7-title"}}{{/i18n}}</h3>
      <p>{{#i18n "getting-started-in-webgl-appearance-glossary-term7-definition"}}{{/i18n}}</p>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->