---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>{{#i18n "learn-title"}}{{/i18n}}</h1>

      <p>{{#i18n "learn1"}}{{/i18n}}
        <a href="{{root}}/examples">{{#i18n "learn2"}}{{/i18n}}
        </a>{{#i18n "learn3"}}{{/i18n}}
      </p>

      <h2 class="tutorial-title" class="tutorial-title">{{#i18n "introduction-to-p5js-title"}}{{/i18n}}</h2>
      <!-- //////////////////////////////// -->


<!--       <div class="left-column">
        <a class="nounderline" href="http://hello.p5js.org/">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="http://hello.p5js.org/">
          <h4>{{#i18n "hello-p5js-title"}}{{/i18n}}
            </h4>
        </a>
        </div>
        <p>{{#i18n "hello-p5js"}}{{/i18n}}</p>
      </div> -->

      <div class="left-column">
        <a class="nounderline" href="{{root}}/get-started/">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="{{root}}/get-started/">
          <h4>{{#i18n "getting-started-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "getting-started"}}{{/i18n}}</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js-overview">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js-overview">
          <h4>{{#i18n "p5js-overview-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "p5js-overview"}}{{/i18n}}</p>
      </div>


      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Processing-transition">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Processing-transition">
          <h4>{{#i18n "p5js-processing-title"}}{{/i18n}} </h4>
        </a>
        </div>
        <p>{{#i18n "p5js-processing"}}{{/i18n}}</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Local-server">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Local-server">
          <h4>{{#i18n "using-local-server-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "using-local-server"}}{{/i18n}} </p>
      </div>
      
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="p5-screen-reader.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="p5-screen-reader.html">
          <h4>{{#i18n "p5-screen-reader-title"}}{{/i18n}} </h4>
        </a>
        </div>
        <p>{{#i18n "p5-screen-reader"}}{{/i18n}}</p>
      </div>

      <div class="spacer"></div>

      <h2 class="tutorial-title">{{#i18n "connecting-p5js-title"}}{{/i18n}}</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Integrating-other-libraries">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Integrating-other-libraries">
          <h4>{{#i18n "adding-libraries-title"}}{{/i18n}} </h4>
        </a>
        </div>
        <p>{{#i18n "adding-libraries"}}{{/i18n}}</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io">
          <h4>{{#i18n "nodejs-and-socketio-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "nodejs-and-socketio"}}{{/i18n}} </p>
      </div>
      <div class="spacer"></div>

      <h2 class="tutorial-title">{{#i18n "programming-topics-title"}}{{/i18n}}</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Beyond-the-canvas">
          <div class="label">
            <img src="{{assets}}/img/learn/dom.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Beyond-the-canvas">
          <h4>{{#i18n "beyond-the-canvas-title"}}{{/i18n}} </h4>
        </a>
        </div>
        <p>{{#i18n "beyond-the-canvas"}}{{/i18n}} </p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">
          <div class="label">
            <img src="{{assets}}/img/learn/3d.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">
          <h4>{{#i18n "3d-webgl-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "3d-webgl"}}{{/i18n}}</p>
      </div>


      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="color.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="color.html">
          <h4>{{#i18n "color-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "color"}}{{/i18n}}</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="coordinate-system-and-shapes.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="coordinate-system-and-shapes.html">
          <h4>{{#i18n "coordinate-system-and-shapes-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "coordinate-system-and-shapes"}}{{/i18n}}</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="curves.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="curves.html">
          <h4>{{#i18n "curves-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "curves"}}{{/i18n}}</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="interactivity.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="interactivity.html">
          <h4>{{#i18n "interactivity-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "interactivity"}}{{/i18n}}</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="program-flow.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="program-flow.html">
          <h4>{{#i18n "program-flow-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "program-flow"}}{{/i18n}}</p>
      </div>

      <div class="spacer"></div>


      <h2 class="tutorial-title">{{#i18n "becoming-a-better-programmer-title"}}{{/i18n}}</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="debugging.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="debugging.html">
          <h4>{{#i18n "debugging-title"}}{{/i18n}} </h4>
        </a>
        </div>
        <p>{{#i18n "debugging"}}{{/i18n}}</p>
      </div>





      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance"><h4>{{#i18n "optimizing-title"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "optimizing"}}{{/i18n}}</p>
      </div>
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="/learn/tdd.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="/learn/tdd.html">
          <h4>{{#i18n "test-driven-development-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "test-driven-development"}}{{/i18n}}</p>
      </div>


      <div class="spacer"></div>

      <h2 class="tutorial-title">{{#i18n "contributing-to-the-community-title"}}{{/i18n}}</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/blob/master/developer_docs/">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/blob/master/developer_docs/">
          <h4>{{#i18n "development-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "development"}}{{/i18n}}</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="http://www.luisapereira.net/teaching/looking-inside-p5/">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="https://vimeo.com/156838703">
          <h4>{{#i18n "looking-inside-title"}}{{/i18n}}</h4>
        </a>
        </div>
        <p>{{#i18n "looking-inside"}}{{/i18n}}</p>
      </div>
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="{{root}}/learn/tutorial-guide.html">
          <div class="label">
            <img src="{{assets}}/img/learn/lib_placeholder.jpg">
        </a>
        <a class="nounderline" href="{{root}}/learn/tutorial-guide.html"><h4>{{#i18n "writing-tutorial-title"}}{{/i18n}}</h4></a>
        </div>
        <p>{{#i18n "writing-tutorial"}}{{/i18n}}</p>
      </div>




      <div class="spacer"></div>

    </section>

    {{> footer}}

  </div>
  <!-- end column-span -->

  {{> asterisk}}

</div>
<!-- end id="get-started-page"  -->
