---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content">
      <h1>{{#i18n "learn-title"}}{{/i18n}}</h1>

      <p>{{#i18n "learn1"}}{{/i18n}}
        <a href="{{root}}/examples">{{#i18n "learn2"}}{{/i18n}}
        </a>{{#i18n "learn3"}}{{/i18n}}
      </p>

      
        <h2 class="tutorial-title">{{#i18n "introduction-to-p5js-title"}}{{/i18n}}</h2>
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="{{root}}/get-started/">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "getting-started-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "getting-started"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js-overview">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "p5js-overview-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "p5js-overview"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Processing-transition">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "p5js-processing-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "p5js-processing"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Local-server">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "using-local-server-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "using-local-server"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "p5js-wiki-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "p5js-wiki"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="p5-screen-reader.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "p5-screen-reader-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "p5-screen-reader"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
      
        <h2 class="tutorial-title">{{#i18n "connecting-p5js-title"}}{{/i18n}}</h2>
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "nodejs-and-socketio-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "nodejs-and-socketio"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
      
        <h2 class="tutorial-title">{{#i18n "programming-topics-title"}}{{/i18n}}</h2>
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Beyond-the-canvas">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "beyond-the-canvas-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "beyond-the-canvas"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "3d-webgl-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "3d-webgl"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="color.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "color-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "color"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="coordinate-system-and-shapes.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "coordinate-system-and-shapes-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "coordinate-system-and-shapes"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="curves.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "curves-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "curves"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="interactivity.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "interactivity-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "interactivity"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="program-flow.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "program-flow-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "program-flow"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
      
        <h2 class="tutorial-title">{{#i18n "becoming-a-better-programmer-title"}}{{/i18n}}</h2>
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="debugging.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "debugging-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "debugging"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "optimizing-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "optimizing"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="tdd.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "test-driven-development-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "test-driven-development"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
      
        <h2 class="tutorial-title">{{#i18n "contributing-to-the-community-title"}}{{/i18n}}</h2>
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/blob/main/contributor_docs/">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "development-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "development"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="http://www.luisapereira.net/teaching/looking-inside-p5/">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "looking-inside-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "looking-inside"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
        
          
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="tutorial-guide.html">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "writing-tutorial-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "writing-tutorial"}}{{/i18n}} </p>
            </div>
            
          
        
          
            <div class="right-column">
             
              <div class="label">
                <a class="nounderline" href="https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "creating-libraries-title"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "creating-libraries"}}{{/i18n}} </p>
            </div>
          
            <div class="spacer"></div>
             
          
                  
            <div class="left-column">
            
              <div class="label">
                <a class="nounderline" href="{{root}}/teach">
                  <img alt="" src="{{assets}}/img/learn/lib_placeholder.jpg">
                  <h3>{{#i18n "teach-title2"}}{{/i18n}}</h3>
                </a>
              </div>
              <p>{{#i18n "teach-desc"}}{{/i18n}} </p>
            </div>
            
          
      

    </main>
    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
