---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main >
      <div class="attribution">
      This tutorial is written by Alex Yixuan Xu with reference to <em>Getting Started With p5.js</em> by Lauren McCarthy, Casey Reas, and Ben Fry. Copyright 2016 Maker Media, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">MDN JavaScript documentation</a> and <a href="https://www.w3schools.com/js">W3Schools JavaScript tutorials</a>. If you see any errors or have comments, please <a href="https://github.com/processing/processing-docs/issues?state=open">let us know</a>.
      </div>

      <h1>Program Flow</h1>
      <!-- TOPICS -->
      <!-- Branching: if/else -->
      <!-- Loops: for/while loop -->
      <!-- noLoop(), loop() and redraw() -->
      <!-- Asynchronicity in p5.js: intro to loadImage(), preload(), callbacks -->
      <!-- Loading JSON & APIs -->
      <!-- Functions and Callbacks: list of functions -->
      <!-- Interactivity and Event Listeners: list of event listeners such as mousePressed() -->



      <!-- https://docs.microsoft.com/en-us/scripting/javascript/controlling-program-flow-javascript -->
      <p>This tutorial outlines some various techniques for controlling the sequence and timing of events in your code, which is known as program flow.</p>

      <!-- if/else stuff -->
      <h2>Branching</h2>
      <!-- https://www.w3schools.com/js/js_if_else.asp -->
      <p>We can use conditional statements to control the program flow. Conditional statements perform different actions based on tests for different conditions. JavaScript has the following conditional statements:</p>
      <ul class="list_view">
        <li>Use <em>if</em> to specify a block of code to be executed, if a specified condition is true</li>
        <li>Use <em>else</em> to specify a block of code to be executed, if the same condition is false</li>
        <li>Use <em>else if</em> to specify a new condition to test, if the first condition is false</li>
      </ul>
      <p>In the following example, change the value for variable i to change the color of the rectangle. If i equals to 0, the condition for the <em>if</em> statement is satisfied, and the filling color is red. In this case, the program continues to draw the rectangle skipping the <em>else if</em> and <em>else</em> statements. If i equals to 1, the condition for the <em>if</em> statement is not satisfied, and the program moves on to check the condition for the <em>else if</em> statement. Since <em>else if</em> condition is satisfied, the filling color is green. If neither the <em>if</em> nor the <em>else if</em> conditions are satisfied, the program runs the <em>else</em> statement, and the filling color is blue.</p>
      <!-- this script only needs to get added once even if there are multiple widget instances -->
      <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let i = 0; // change the value of i to see the change
function setup(){
  createCanvas(100, 100);
  rectMode(CENTER);
}
function draw(){
  background(200);
  if (i==0){
    fill(255, 0, 0);
  }
  else if (i==1){
    fill(0, 255, 0);
  }
  else{
    fill(0, 0, 255);
  }
  rect(width/2, height/2, 50, 50);
}
      </script>

      <!-- for loop and while loop -->
      <h2>Loops</h2>
      <p>Loops can execute a block of code repeatedly. p5 supports several different kinds of loops in JavaScript:</p>
      <ul class="list_view">
        <li>for - loops through a block of code a specified number of times</li>
        <li>for/in - loops through the properties of an object</li>
        <li>while - loops through a block of code while a specified condition is true</li>
        <li>do/while - also loops through a block of code while a specified condition is true</li>
      </ul>

      <p>The <em>for</em> loop sets up a variable (usually i or x) that is then incrementally changed for each loop. It has the following structure:</p>
      <pre><code class="language-javascript">
        for (statement 1; statement 2; statement 3) {
            code block to be executed
        }
      </code></pre>
      <ul class="list_view">
        <li>Statement 1 is executed (one time) before the execution of the code block. It sets the starting value for the variable</li>
        <li>Statement 2 defines the condition that must be true for the code block to be executed.</li>
        <li>Statement 3 is executed every time  after the code block has finished running if statement 2 evaluated to be true.</li>
      </ul>

      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  for (let i=0; i<5; i++){
    text(i, i*10, height/2);
  }
}
      </script>
      <p>In this example, variable i is initially set to 0. Every time the <em>for</em> loop runs, i is displayed on the screen and 1 is added to i. Note the <em>for</em> loop will only run until i equals to 4 because after this the condition that i be less than 5 will be false.</p>

      <p>The <em>for/in</em> statement loops through the properties of an object:</p>
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let person = {fname:"John", lname:"Doe", age:25};
let myText = "";
function setup(){
  let x;
  for (x in person) {
      myText += person[x];
      myText += " ";
  }
  text(myText, 0, height/2);
}
      </script>
      <p>In this example, as the <em>for</em> loop cycles through each property of the person object, the property value is added to myText string.</p>

      <p>The while loop cycles through a block of code as long as its specified condition is true.</p>
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let i = 0;
function setup(){
  while (i<5){
    text(i, i*10, height/2);
    i++;
  }
}
      </script>
      <p>This example gives the same result as the <em>for</em> loop example above. Sometimes <em>while</em> loops and <em>for</em> loops can be used interchangeably.</p>

      <p>The <em>do/while</em> loop is a variant of the <em>while</em> loop. This loop will execute the code block once, before checking if the condition is true, it will then repeat the loop as long as the condition is true.</p>
      <!-- Is there an example particular to do/while? -->
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let i = 0;
function setup(){
  do {
    text(i, i*10, height/2);
    i++;
  }
  while (i < 5);
}
      </script>


      <!-- this is particular to p5 -->
      <h2>noLoop(), loop() and redraw()</h2>
      <p>The <a href="/reference/#/p5/draw">draw()</a> function in p5 runs as a loop. The code inside the draw() function runs continuously from top to bottom until the program is stopped. The draw() loop may be stopped by calling <a href="/reference/#/p5/noLoop">noLoop()</a>, and can then be resumed with <a href="/reference/#/p5/loop">loop()</a>. If using <a href="/reference/#/p5/noLoop">noLoop()</a> in <a href="/reference/#/p5/setup">setup()</a>, it should be the last line inside the block.</p>
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let x = 0;
function setup() {
  createCanvas(100, 100);
  noLoop();
}
function draw() {
  background(200);
  ellipse(x, height/2, 20, 20);
  x ++;
}
function mousePressed() {
  loop();
}
function mouseReleased() {
  noLoop();
}
        </script>
        <p>In this example, <a href="/reference/#/p5/noLoop">noLoop()</a> is called in <a href="/reference/#/p5/setup">setup()</a>, so the code within <a href="/reference/#/p5/draw">draw()</a> will only run once at the start of the program. Since <a href="/reference/#/p5/loop">loop()</a> is placed in <a href="/reference/#/p5/mousePressed">mousePressed()</a>, the draw() block will resume looping when mouse is pressed. When mouse is released, <a href="/reference/#/p5/noLoop">noLoop()</a> is called again and hence the draw() loop stops.</p>

        <p>The function <a href="/reference/#/p5/redraw">redraw()</a> executes the code within <a href="/reference/#/p5/draw">draw()</a> one time. This functions allows the program to update the display window only when necessary, such as when an event registered by <a href="/reference/#/p5/mousePressed">mousePressed()</a> or <a href="/reference/#/p5/keyPressed">keyPressed()</a> occurs. In structuring a program, it only makes sense to call <a href="/reference/#/p5/redraw">redraw()</a> within events such as <a href="/reference/#/p5/mousePressed">mousePressed()</a> outside of the draw() loop. The redraw() function does not work properly when called inside draw(). In addition, you can set the number of loops through draw by adding a single argument (an integer) to the redraw() function.</p>
        <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let x = 0;
function setup() {
   createCanvas(100, 100);
   noLoop();
 }
function draw() {
   background(200);
   ellipse(x, height/2, 20, 20);
   x ++;
 }
function mousePressed() {
   redraw();
 }
      </script>
      <p>This example is similar to the previous one, where <a href="/reference/#/p5/noLoop">noLoop()</a> is called in <a href="/reference/#/p5/setup">setup()</a> and the code within <a href="/reference/#/p5/draw">draw()</a> will only run once at the start of the program. However, when mouse is pressed, <a href="/reference/#/p5/redraw">redraw()</a> is called and <a href="/reference/#/p5/draw">draw()</a> will only loop once. To make smooth animations, it is easier to work with noLoop() and loop().</p>


      <h2>Asynchronicity in p5.js</h2>
      <p>In JavaScript, events may occur concurrently with the main program flow. This is considered as asynchronicity in programming. In p5, for example, when we use <a href="/reference/#/p5/loadImage">loadImage()</a> in <a href="/reference/#/p5/setup">setup()</a>, the browser begins the process of loading the image but skip onto the next line before it is finised loading. The following example demonstrates such asynchronicity.</p>
        <pre><code class="language-javascript">
let img;
function setup(){
  createCanvas(100, 100);
  img = loadImage("/assets/learn/program-flow/images/clouds.jpg");
  noLoop();
}

function draw(){
  background(200);
  image(img,0,0);
}
    </code></pre>
    <iframe src="/assets/learn/program-flow/loadImage-example-1/loadImage-example-1.html" width="150" height="150"></iframe>
      <!-- what's the file location??????????????????? -->
<!--       <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let img;
function setup(){
  createCanvas(100, 100);
  img = loadImage("/assets/learn/program-flow/images/clouds.jpg");
  noLoop();
}

function draw(){
  background(200);
  image(img,0,0);
}
      </script> -->
      <p>When you run this program, you'll notice that the drawing canvas is grey with no image displayed. This is because <a href="/reference/#/p5/loadImage">loadImage()</a> begins to load the image, but does not have time to finish this task before the program continues on through the rest of <a href="/reference/#/p5/setup">setup()</a> and on to <a href="/reference/#/p5/draw">draw()</a>. Even with the <a href="/reference/#/p5/noLoop">noLoop()</a> function that stops p5.js from continuously executing the code within draw(). The <a href="/reference/#/p5/image">image()</a> function is unable to display the image as it is not properly loaded.</p>

      <h2>Introduction to Preload</h2>
      <p>To help with this issue of asynchronicity, p5.js has the <a href="/reference/#/p5/preload">preload()</a> function. Unlike <a href="/reference/#/p5/setup">setup()</a>, preload() forces the program to wait until everything has loaded before moving on. It is best to only make load calls in preload(), and do all other setup in setup().</p>
      <pre><code class="language-javascript">
let img;
function preload(){
  img = loadImage("/assets/learn/program-flow/images/clouds.jpg");
}

function setup(){
  createCanvas(100, 100);
  noLoop();
}

function draw(){
  background(200);
  image(img,0,0);
}
      </code></pre>
      <iframe src="/assets/learn/program-flow/loadImage-example-2/loadImage-example-2.html" width="150" height="150"></iframe>

<!--       <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let img;
function preload(){
  img = loadImage("/assets/learn/program-flow/images/clouds.jpg");
}

function setup(){
  createCanvas(100, 100);
  noLoop();
}

function draw(){
  background(200);
  image(img,0,0);
}
      </script> -->
      <p><a href="/reference/#/p5/preload">preload()</a> ensures that the image has been loaded before running the other code. </p>



      <h2>Loading with a Callback</h2>
      <p>An alternative to <a href="/reference/#/p5/preload">preload()</a> is to use a <em>callback function</em>. A callback function is a function that is passed as an argument to a second function, and that runs after the second function has completed. The following example illustrates this technique.</p>
      <pre><code class="language-javascript">
function setup(){
  createCanvas(100, 100);
  loadImage("/assets/learn/program-flow/images/clouds.jpg", drawImage);
  noLoop();
}

function draw(){
  background(200);
}

function drawImage(img){
  image(img, 0, 0);
}
      </code></pre>
      <iframe src="/assets/learn/program-flow/loadImage-example-3/loadImage-example-3.html" width="150" height="150"></iframe>
<!--       <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
function setup(){
  createCanvas(100, 100);
  loadImage("/assets/learn/program-flow/images/clouds.jpg", drawImage);
  noLoop();
}

function draw(){
  background(200);
}

function drawImage(img){
  image(img, 0, 0);
}
      </script> -->
      <p>In this example, the second argument in <a href="/reference/#/p5/loadImage">loadImage()</a> is the function we want to run after the load is complete. Once the image has loaded, this callback function, drawImage(), is automatically called. It has one argument which contains the image that was just loaded. There is no need to create a global variable to hold the image. The image is passed directly into the callback function, as the parameter name chosen in the function definition.</p>



      <h2>Loading JSON & APIs</h2>
      <!-- page 187 -->
      <p>The JSON (JavaScript Object Notation) format is a common system for storing data. Like HTML and XML formats, the elements have labels associated with them. One way to load JSON file is to use <a href="/reference/#/p5/loadJSON">loadJSON()</a> function in <a href="/reference/#/p5/preload">preload()</a>.</p>
      <!-- example where loadJSON() in preload() -->
      <p>The following request at https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson returns data of recent earthquakes in the world from USGS.</p>
      <script type="text/p5" data-autoplay data-preview-width="200" data-p5-version="{{ version }}">
let earthquakes;
function preload(){
  earthquakes = loadJSON('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson');
}
function setup(){
  createCanvas(200, 100);
  let earthquakeMag = earthquakes.features[0].properties.mag;
  let earthquakePlace = earthquakes.features[0].properties.place;
  text(earthquakePlace, 0, height/2);
  text(earthquakeMag, 0, height-height/3);
}
      </script>

      <p>Alternatively, <a href="/reference/#/p5/loadJSON">loadJSON()</a> can also take a callback. To use data from an API, you may need a callback function as, like with an image, the data takes time to load. API (Application Programming Interface) requests are commands that request data from a service. A lot of APIs will return data in JSON format. Some need you to authenticate with the API to use it (e.g. register as a developer and get keys). You can’t always use <a href="/reference/#/p5/preload">preload()</a> when getting data from APIs because the data might change while you sketch is running and you will want your program to respond accordingly.</p>

      <p><a href="/reference/#/p5/loadJSON">loadJSON()</a> can be used in a few ways: </p>
      <ul class="list_view">
        <li>loadJSON(path)</li>
        <li>loadJSON(path, callback)</li>
        <li>loadJSON(path, callback, datatype)</li>
        <li>loadJSON(path, callback, errorCallback)</li>
        <li>loadJSON(path, datatype, callback, errorCallback)</li>
        <li>loadJSON(path, jsonpOptions, datatype, callback, errorCallback)</li>
      </ul>
      <p>
        where:
      </p>
      <ul class="list_view">
        <li>path - String: name of the file or url to load</li>
        <li>jsonpOptions - Object: options object for jsonp related settings</li>
        <li>datatype - String: "json" or "jsonp"</li>
        <li>callback - Function: function to be executed after loadJSON() completes, data is passed in as first argument</li>
        <li>errorCallback - Function: function to be executed if there is an error, response is passed in as first argument</li>
      </ul>
      <!-- example where loadJSON() takes a callback -->
      <script type="text/p5" data-autoplay data-preview-width="200" data-p5-version="{{ version }}">
function setup() {
  createCanvas(200, 100);
  loadJSON('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson', showEarthquake);
}
function showEarthquake(earthquakes){
  let earthquakeMag = earthquakes.features[0].properties.mag;
  let earthquakePlace = earthquakes.features[0].properties.place;
  text(earthquakePlace, 0, height/2);
  text(earthquakeMag, 0, height-height/3);
}
      </script>
      <p>In this example, the <a href="/reference/#/p5/loadJSON">loadJSON()</a> function is placed in <a href="/reference/#/p5/setup">setup()</a> and takes a custom callback function showEarthquake(). This means when the program finishes loading the JSON file from the USGS earthquakes API, the function showEarthQuake() is called. The place and magnitude of the most recent earthquake listed by the API is stored in local variables within showEarthquake and are then displayed on the screen.</p>

      <p>Sometimes we use <a href="/reference/#/p5/setInterval">setInterval()</a> to control the frequency of requests made to the API. setInterval() can also take a callback function. If you call setInterval() in <a href="/reference/#/p5/setup">setup()</a>, it will run repeatedly for the duration of the program at the interval set.</p>
      <!-- example setInterval() is used -->
      <script type="text/p5" data-autoplay data-preview-width="200" data-p5-version="{{ version }}">
let i=1; // counter variable to keep track of the interval
function setup() {
  createCanvas(200, 100);
  getEarthquake();
  setInterval(getEarthquake, 5000); // get data every 5 seconds
}
function getEarthquake(){
  loadJSON('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson', showEarthquake);
}
function showEarthquake(earthquakes){
  background(255);
  let earthquakeMag = earthquakes.features[0].properties.mag;
  let earthquakePlace = earthquakes.features[0].properties.place;
  text("Data grabbed "+i, 0, height/3);
  text(earthquakePlace, 0, height/2);
  text(earthquakeMag, 0, height-height/3);
  i++;
}
      </script>
      <p>In this example, the earthquake data is grabbed from the API every 5 seconds and is displayed on the screen.</p>




      <!-- list the functions that accept callbacks? Is this section necessary?-->
      <h2>More Callback Functions</h2>
      <p>In addition to the <a href="/reference/#/p5/loadImage">loadImage()</a>, <a href="/reference/#/p5/loadJSON">loadJSON()</a> and <a href="/reference/#/p5/setInterval">setInterval()</a>, there are other functions in p5 that accept callbacks. Typically, functions that involve loading data of some kind accept callbacks, or should be put in <a href="/reference/#/p5/preload">preload()</a>. For example:</p>
      <ul class="list_view">
        <li><a href="/reference/#/p5/loadFont">loadFont()</a></li>
        <li><a href="/reference/#/p5/loadSound">loadSound()</a></li>
        <li><a href="/reference/#/p5/loadStrings">loadStrings()</a></li>
        <li><a href="/reference/#/p5/loadTable">loadTable()</a></li>
        <li><a href="/reference/#/p5/loadXML">loadXML()</a></li>
        <li><a href="/reference/#/p5/loadBytes">loadBytes()</a></li>
        <li><a href="/reference/#/p5/loadModel">loadModel()</a></li>
      </ul>

      <p>DOM functionality makes it easy to interact with other HTML5 objects, including text, hyperlink, image, input, video, audio, and webcam. Some DOM creation methods also accept callbacks: </p>
      <ul class="list_view">
        <li><a href="/reference/#/p5/createImg">createImg()</a></li>
        <li><a href="/reference/#/p5/createFileInput">createFileInput()</a></li>
        <li><a href="/reference/#/p5/createVideo">createVideo()</a></li>
        <li><a href="/reference/#/p5/createAudio">createAudio()</a></li>
        <li><a href="/reference/#/p5/createCapture">createCapture()</a></li>
      </ul>


      <h2>Interactivity and Event Listeners</h2>
      <p>Callback functions are functions that can be passed as an argument into another function and be executed after the first function is complete. An event listener or handler is a type of callback. It is called whenever an event occurs such as when the mouse is pressed, or a key is pressed etc.</p>
      <p>Mouse functions like <a href="/reference/#/p5/mousePressed">mousePressed()</a>, <a href="/reference/#/p5/mouseClicked">mouseClicked()</a>, <a href="/reference/#/p5/mouseReleased">mouseReleased()</a>, <a href="/reference/#/p5/mouseMoved">mouseMoved()</a>, etc. can be used as event listeners. They can be attached to certain elements in a sketch.</p>
      <ul class="list_view">
        <li><a href="/reference/#/p5/mousePressed">mousePressed()</a> - Code inside this block is run one time when a mouse button is pressed</li>
        <li><a href="/reference/#/p5/mouseReleased">mouseReleased()</a> - Code inside this block is run one time when a mouse button is released</li>
        <li><a href="/reference/#/p5/mouseClicked">mouseClicked()</a> - Code inside this block is run once after a mouse button is pressed and released over the element</li>
        <li><a href="/reference/#/p5/doubleClicked">doubleClicked()</a> - Code inside this block is run once after a mouse button is pressed and released over the element twice</li>
        <li><a href="/reference/#/p5/mouseWheel">mouseWheel()</a> - Code inside this block is run once when mouse wheel is scrolled over the element</li>
        <li><a href="/reference/#/p5/mouseMoved">mouseMoved()</a> - Code inside this block is run one time when the mouse is moved</li>
        <li><a href="/reference/#/p5/mouseOver">mouseOver()</a> - Code inside this block is run once after every time a mouse moves onto the element.</li>
        <li><a href="/reference/#/p5/mouseOut">mouseOut()</a> - Code inside this block is run once after every time a mouse moves off the element</li>
      </ul>

      <p>In this example, a canvas element is created and an event listener <a href="/reference/#/p5/mousePressed">mousePressed()</a> is attached. Function changeGrey() will only run when the mouse is pressed over the canvas, and will will change the background color to a random grey. If the mouse is pressed anywhere, even outside of the canvas, the diameter of the ellipse will increase by 10 pixels. The custom function changeGray(), in this instance, is placed within the <a href="/reference/#/p5/mousePressed">mousePressed()</a> function and is to be triggered when mouse is pressed over the canvas element. If the mouse is not pressed, false is passed and changeGrey() will not run.</p>
      <script type="text/p5" data-autoplay data-p5-version="{{ version }}">
let cnv;
let d;
let g;
function setup() {
  cnv = createCanvas(100, 100);
  cnv.mousePressed(changeGray); // attach listener for canvas click only
  d = 10;
  g = 100;
}

function draw() {
  background(g);
  ellipse(width / 2, height / 2, d, d);
}

// this function fires with any click anywhere
function mousePressed() {
  d = d + 10;
}

// this function fires only when cnv is clicked
function changeGray() {
  g = random(0, 255);
}
      </script>

      <p>The above mouse functions can be attached to an element like the canvas or can be used without specifying an element. The keyboard functions <a href="/reference/#/p5/keyPressed">keyPressed()</a>, <a href="/reference/#/p5/keyReleased">keyReleased()</a>, <a href="/reference/#/p5/keyTyped">keyTyped()</a>, and mouse function <a href="/reference/#/p5/mouseDragged">mouseDragged()</a> cannot be attached to a specific element.</p>
      <ul class="list_view">
        <li><a href="/reference/#/p5/mouseDragged">mouseDragged()</a> - Code inside this block runs once when the mouse is moved and the mouse button is pressed</li>
        <li><a href="/reference/#/p5/keyPressed">keyPressed()</a> - Code inside this block runs once when any key is pressed</li>
        <li><a href="/reference/#/p5/keyTyped">keyTyped()</a> - Code inside this block is runs once when a key is pressed, but action keys such as Ctrl, Shift, and Alt are ignored. The most recent key pressed will be stored in the <a href="/reference/#/p5/key">key</a> variable.</li>
        <li><a href="/reference/#/p5/keyReleased">keyReleased()</a> - Code inside this block is runs once when any key is released</li>
      </ul>



    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->