---
title: learn
slug: learn/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main >

      <h1>{{#i18n "writing-a-tutorial-title"}}{{/i18n}}</h1>
      <div class="attribution">
        {{#i18n "writing-a-tutorial-author"}}{{/i18n}}
      </div>
      <p>
        {{#i18n "writing-a-tutorial-1"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "writing-a-tutorial-2"}}{{/i18n}}
      </p>

      <h2>{{#i18n "writing-a-tutorial-how-start-title"}}{{/i18n}}</h2>
      <ul class="list_view">
        <li>
          {{#i18n "writing-a-tutorial-how-start-1"}}{{/i18n}}<a href="https://docs.google.com/spreadsheets/d/1sh3IwcCUY4Bm8N4fRZw6CwSDdQmmXgY_awjVj-UC8mo/edit#gid=0">{{#i18n "writing-a-tutorial-how-start-2"}}{{/i18n}}</a>
          {{#i18n "writing-a-tutorial-how-start-3"}}{{/i18n}}
        </li>
        <li>
          {{#i18n "writing-a-tutorial-how-start-4"}}{{/i18n}}
        </li>
      </ul>
      <h2>{{#i18n "writing-a-tutorial-how-prepare-title"}}{{/i18n}}</h2>
      <p>
        {{#i18n "writing-a-tutorial-how-prepare-1"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "writing-a-tutorial-how-prepare-2"}}{{/i18n}}<a href="https://github.com/mayaman/p5js-website/blob/master/src/templates/pages/learn/test-tutorial.hbs">{{#i18n "writing-a-tutorial-how-prepare-3"}}{{/i18n}}</a>
        {{#i18n "writing-a-tutorial-how-prepare-4"}}{{/i18n}}
      </p>
      <img src="{{assets}}/learn/tutorial-guide/images/screenshot-1.png" alt="Screenshot">

      <p>
        {{#i18n "writing-a-tutorial-how-prepare-5"}}{{/i18n}}<a href="{{root}}/learn/">{{#i18n "writing-a-tutorial-how-prepare-6"}}{{/i18n}}</a>
        {{#i18n "writing-a-tutorial-how-prepare-7"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "writing-a-tutorial-how-prepare-8"}}{{/i18n}}
       
        &lt;section &gt; &lt;/section&gt;
        {{#i18n "writing-a-tutorial-how-prepare-9"}}{{/i18n}}<a href="https://github.com/processing/p5.js-website/blob/main/src/templates/pages/learn/test-tutorial.hbs">{{#i18n "writing-a-tutorial-how-prepare-10"}}{{/i18n}}</a></p>
      <p>
        {{#i18n "writing-a-tutorial-how-prepare-11"}}{{/i18n}}
      </p>
      <img src="{{assets}}/learn/tutorial-guide/images/screenshot-2.png" alt="Screenshot">
      <p>
        {{#i18n "writing-a-tutorial-how-prepare-12"}}{{/i18n}}
      </p>
       
        <pre><code class="language-javascript">
&lt;pre&gt;&lt;code class="language-javascript"&gt;
Your code here!
&lt;/code>&lt;/pre&gt;

</code></pre>

      <h2>{{#i18n "writing-a-tutorial-embedding-title"}}{{/i18n}}</h2>
      <p>
        {{#i18n "writing-a-tutorial-embedding-1"}}{{/i18n}}
      </p>

      <ol>
        <li>
          {{#i18n "writing-a-tutorial-embedding-2"}}{{/i18n}}<a href="http://p5js.org/reference/#/p5/ellipse">{{#i18n "writing-a-tutorial-embedding-3"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-embedding-4"}}{{/i18n}}<a href="https://toolness.github.io/p5.js-widget/">{{#i18n "writing-a-tutorial-embedding-5"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-embedding-6"}}{{/i18n}}<a href="https://github.com/toolness">Toolness</a>{{#i18n "writing-a-tutorial-embedding-7"}}{{/i18n}}<a href="https://github.com/processing/p5.js-website/blob/main/src/templates/pages/learn/test-tutorial.hbs">{{#i18n "writing-a-tutorial-embedding-8"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-embedding-9"}}{{/i18n}}</li>
        <li>
          {{#i18n "writing-a-tutorial-embedding-10"}}{{/i18n}}
        </li>
      </ol>

      <h2>{{#i18n "writing-a-tutorial-iframe-title"}}{{/i18n}}</h2>

      <p>
        {{#i18n "writing-a-tutorial-iframe-1"}}{{/i18n}}
      </p>
      <img src="https://github.com/tegacodes/p5.js-education/raw/master/images/iframe-2.jpg" alt="tutorialFileStructure" width="600">

      <p>
        {{#i18n "writing-a-tutorial-iframe-2"}}{{/i18n}}
      </p>

      <img src="{{assets}}/learn/tutorial-guide/images/screenshot-3.png" alt="Screenshot">

<p>{{#i18n "writing-a-tutorial-iframe-3"}}{{/i18n}}</p>
<img src="{{assets}}/learn/tutorial-guide/images/screenshot-4.png" alt="Screenshot">

<p>{{#i18n "writing-a-tutorial-iframe-4"}}{{/i18n}}</p>
<p>{{#i18n "writing-a-tutorial-iframe-5"}}{{/i18n}}</p>
  <pre><code class="language-javascript">
&lt;iframe src="http://p5js.org/assets/learn/tes-tutorial/embed.html" width="600" height="400"&gt;
&lt;/iframe&gt;
</code></pre>

<p>{{#i18n "writing-a-tutorial-iframe-6"}}{{/i18n}}</p>
  <pre><code class="language-javascript">
&lt;style&gt; iframe{ border: none; } &lt;/style&gt;
</code></pre>

<p>{{#i18n "writing-a-tutorial-iframe-7"}}{{/i18n}}</p>
<a href="http://staging.p5js.org/assets/learn/test-tutorial/embed.html">http://staging.p5js.org/assets/learn/test-tutorial/embed.html</a>

<p>{{#i18n "writing-a-tutorial-iframe-8"}}{{/i18n}}</p>
<a href="http://staging.p5js.org/learn/test-tutorial.html">http://staging.p5js.org/learn/test-tutorial.html</a>

<p>{{#i18n "writing-a-tutorial-iframe-9"}}{{/i18n}}</p>

<p>{{#i18n "writing-a-tutorial-iframe-10"}}{{/i18n}}</p>

<p>{{#i18n "writing-a-tutorial-iframe-11"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Embedding-p5.js">{{#i18n "writing-a-tutorial-embed-iframe-12"}}{{/i18n}}</a></p>
<h2>{{#i18n "writing-a-tutorial-finishing-title"}}{{/i18n}}</h2>
<p>{{#i18n "writing-a-tutorial-finishing-1"}}{{/i18n}}</p>

    <p>{{#i18n "writing-a-tutorial-finishing-2"}}{{/i18n}}</p>

  </main>

  {{> footer}}

</div> <!-- end column-span -->

{{> asterisk}}

</div><!-- end id="get-started-page"  -->
