<!DOCTYPE html>
<html class="no-js" lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <title>p5.js</title>
    <link rel="stylesheet" href="/{{assets}}/css/all.css">
    <script type="text/javascript" src="//fast.fonts.net/jsapi/5ace315e-3b19-4568-9e85-5bfcb29004c0.js"></script>
  </head>
  <body>


    <div class="container">

      {{> body }}


      <!-- logo -->
      <div id="lockup">
        <a href="{{root}}/">
          <img src="{{assets}}/img/p5js-beta.svg" alt="link to p5 home page" id="logo_image" class="logo" />
          <div id="p5_logo"></div>
        </a>
      </div>

    </div> <!-- close class='container'-->

    {{>i18n}}

    {{> header }}

    <script src="/{{assets}}/js/init.js" charset="utf-8"></script>
  </body>
</html>
