---
title: libraries
slug: libraries/
---

<div id="libraries-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content">
      <h1>{{#i18n "Libraries"}}{{/i18n}}</h1>

      <h2>{{#i18n "using-a-library-title"}}{{/i18n}}</h2>

      <p>{{#i18n "using-a-library1"}}{{/i18n}}<a
          href="{{root}}/reference/#/libraries/p5.sound">p5.sound</a>{{#i18n "using-a-library3"}}{{/i18n}}</p>

      <p>{{#i18n "using-a-library4"}}{{/i18n}}</p>
      <pre><code class="language-markup">&lt;!doctype html&gt;
&lt;html>
&lt;head>
  &lt;script src="p5.js"&gt;&lt;/script&gt;
  &lt;script src="p5.sound.js"&gt;&lt;/script&gt;
  &lt;script src="sketch.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;
      </code></pre>

      <h2>{{#i18n "create-your-own-title"}}{{/i18n}}</h2>

      <p>{{#i18n "create-your-own1"}}{{/i18n}}
        <a href="https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md">
          {{#i18n "create-your-own2"}}{{/i18n}}</a>
        {{#i18n "create-your-own3"}}{{/i18n}}
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdWWb95cfvosaIFI7msA7XC5zOEVsNruaA5klN1jH95ESJVcw/viewform"
          target="_blank">{{#i18n "create-your-own4"}}{{/i18n}}</a></p>

      <% let all; for(let p=0; p<2; p++) { %>
      <% if (p == 0) { all = core; %>
      <h2 class="tutorial-title">{{#i18n "core-libraries"}}{{/i18n}}</h2>
      <% } else { all = contributed; %>
      <h2 class="tutorial-title">{{#i18n "community-libraries"}}{{/i18n}}</h2>
      <% } %>
      <% let col=0; for(let c in all) { %>
      <% if (col == 0) { %>
      <div class="left-column">
        <% } else { %>
        <div class="right-column">
          <% } %>
          <div class="label">
            <a class="nounderline" href="<%=all[c].url%>" target="_blank">
              <img alt="" src="{{assets}}/img/libraries/<%=all[c].name.replace(' ', '_')%>.jpg">
              <h3><%=all[c].name%></h3>
            </a>
          </div>
          <p>{{#i18n "<%=all[c].name%>"}}{{/i18n}} <% if (all[c].authors) { %>{{#i18n "libraries-created-by" }}{{/i18n}}
            <% for(let i in all[c].authors) { %><a href="<%=all[c].authors[i].url%>"
              target="_blank"><%=all[c].authors[i].name%></a><% if (i != all[c].authors.length - 1) { %>, <% } } } %>
          </p>
        </div>
        <% if (col == 1 || c == all.length - 1) { %>
        <div class="spacer"></div>
        <% } %>
        <% col = (col+1)%2; %>
        <% } %>
        <% } %>


    </main>
    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->