---
title: libraries
slug: libraries/
---

<div id="libraries-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content">
      <h1>{{#i18n "Libraries"}}{{/i18n}}</h1>
      <h2>{{#i18n "core-libraries"}}{{/i18n}}</h2>
      <% let col1=0; for(let c in core) { %>
        <% if (col1 == 0) { %>
          <div class="left-column">
        <% } else { %>
          <div class="right-column">
         <% } %>  
            <div class="label">
              <a class="nounderline" href="<%=core[c].url%>" target="_blank">
                <img alt="" src="{{assets}}/img/libraries/<%=core[c].name%>.jpg">
                <h3><%=core[c].name%></h3>
              </a>
            </div>
            <p>{{#i18n "<%=core[c].name%>"}}{{/i18n}} {{#i18n "libraries-core-by" }}{{/i18n}}<a href="<%=core[c].authors[0].url%>" target="_blank"><%=core[c].authors[0].name%></a></p>
          </div>
        <% if (col1 == 1 || c == core.length - 1) { %>
          <div class="spacer"></div>
         <% } %>  
        <% col1 = (col1+1)%2; %>
      <% } %>

      <h2>{{#i18n "community-libraries"}}{{/i18n}}</h2>
      <% let col2=0; for(let c in core) { %>
        <% if (col2 == 0) { %>
          <div class="left-column">
        <% } else { %>
          <div class="right-column">
         <% } %>  
            <div class="label">
              <a class="nounderline" href="<%=core[c].url%>" target="_blank">
                <img alt="" src="{{assets}}/img/libraries/<%=core[c].name%>.jpg">
                <h3><%=core[c].name%></h3>
              </a>
            </div>
            <p>{{#i18n "<%=core[c].name%>"}}{{/i18n}} {{#i18n "libraries-core-by" }}{{/i18n}}<a href="<%=core[c].authors[0].url%>" target="_blank"><%=core[c].authors[0].name%></a></p>
          </div>
        <% if (col2 == 1 || c == core.length - 1) { %>
          <div class="spacer"></div>
         <% } %>  
        <% col2 = (col2+1)%2; %>
      <% } %>

      <h2>{{#i18n "using-a-library-title"}}{{/i18n}}</h2>

      <p>{{#i18n "using-a-library1"}}{{/i18n}}<a href="{{root}}/reference/#/libraries/dom">p5.dom</a>
        {{#i18n "using-a-library2"}}{{/i18n}}
      <a href="{{root}}/reference/#/libraries/sound">p5.sound</a>
      {{#i18n "using-a-library3"}}{{/i18n}}</p>

      <p>{{#i18n "using-a-library4"}}{{/i18n}}</p>
      <pre><code class="language-markup">&lt;!doctype html&lt;
&lt;html>
&lt;head>
  &lt;script src="p5.js"&gt;&lt;/script&gt;
  &lt;script src="p5.sound.js"&gt;&lt;/script&gt;
  &lt;script src="sketch.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;
      </code></pre>

      <h2>{{#i18n "create-your-own-title"}}{{/i18n}}</h2>

      <p>{{#i18n "create-your-own1"}}{{/i18n}}
      <a href="https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md">
        {{#i18n "create-your-own2"}}{{/i18n}}</a>
        {{#i18n "create-your-own3"}}{{/i18n}}
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdWWb95cfvosaIFI7msA7XC5zOEVsNruaA5klN1jH95ESJVcw/viewform" target="_blank">{{#i18n "create-your-own4"}}{{/i18n}}</a></p>

    </main>
    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
