---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>
      <h2>{{#i18n "Examples"}}{{/i18n}}</h2>

      <div class="column_0">
      <% var t = 0; var col=1; for(var topic in all) { %>
        <p name='<%=topic.toLowerCase()%>' class='anchor'>
        <strong>{{#i18n "<%=topic%>"}}{{/i18n}}</strong><br>
        <% for(var i=0; i<all[topic].length; i++) { %>
          <a class='example-link' href="<%=all[topic][i]['link']%>"
            
            <% 
              var keys = Object.keys(all[topic][i]).filter(function(k) { return k.length === 2 });
              for(var j=0; j < keys.length; j++) { %>
                data-<%=keys[j]%>='<%=all[topic][i][keys[j]]%>'
            <%}%>
            data-test='hi'
          ><%= all[topic][i]['en'] %></a><br>
          <% t++ %>
        <% } %>
        </p>
        <% if (t >= total/3) { %>
          </div>
          <div class="column_<%=col%>">
        <% col++; t=0; } %>
      <% } %>
      </div>

      
    </section>
    {{> footer}}

  </div> <!-- end column-span -->
  <script>
    $(document).ready( function () {
      $('.example-link').each(function() {
        var name = $(this).data('{{language}}');
        $(this).text(name);
      });
    });
  </script>

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
