---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>
      <h2>{{#i18n "Examples"}}{{/i18n}}</h2>

      <div class="column_0">
      <% var t = 0; var col=1; for(var topicNum in all) { 
        var topic = topics[topicNum]['en'];
      %>
        <p>

        <span name='<%=topic.toLowerCase()%>' class='anchor topic-link'
        <% 
        var keys = Object.keys(topics[topicNum]);
        for(var j=0; j < keys.length; j++) { %>
          data-<%=keys[j]%>='<%=topics[topicNum][keys[j]]%>'
        <% }
        var newt = topic.replace('-', ' ')%>
        >
        <%=newt%>
        </span>
        <br>
        <% for(var i=0; i<all[topicNum].length; i++) { %>
          <a class='example-link' href="<%=all[topicNum][i]['link']%>"
            
            <% 
              var keys = Object.keys(all[topicNum][i]).filter(function(k) { return k.length === 2 });
              for(var j=0; j < keys.length; j++) { %>
                data-<%=keys[j]%>='<%=all[topicNum][i][keys[j]]%>'
            <%}%>
          ><%= all[topicNum][i]['en'] %></a><br>
          <% t++ %>
        <% } %>
        </p>
        <% if (t >= total/3) { %>
          </div>
          <div class="column_<%=col%>">
        <% col++; t=0; } %>
      <% } %>
      </div>

      
    </section>
    {{> footer}}

  </div> <!-- end column-span -->
  <script>
    $(document).ready( function () {
      $('.topic-link').each(function() {
        var topic = $(this).data('{{language}}');
        $(this).text(topic);
      });
      $('.example-link').each(function() {
        var name = $(this).data('{{language}}');
        $(this).text(name);
      });
    });
  </script>

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
