---
title: books
slug: books/
---

<div id="books-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >
      <h1>{{#i18n "books-title"}}{{/i18n}}</h1>
      <br>


      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/gettingstarted.jpg" alt="book cover getting started with p5.js">
        </div>

        <div class="wide-right-column book">
          <h2>{{#i18n "book-1-title"}}{{/i18n}}</h2>

          <p>{{#i18n "book-1-authors"}}{{/i18n}}</p>
          <p>
            {{#i18n "book-1-publisher"}}{{/i18n}}
            {{#i18n "book-1-pages"}}{{/i18n}}
            {{#i18n "book-1-type"}}{{/i18n}}
          </p>

          <p>{{#i18n "book-1-description"}}{{/i18n}}</p>

          <p><a href="http://shop.oreilly.com/product/0636920032076.do" target="_blank">{{#i18n "book-1-order-a"}}{{/i18n}}</a></p>
          <p><a href="http://www.amazon.com/Make-Interactive-Graphics-JavaScript-Processing/dp/1457186772" target="_blank">{{#i18n "book-1-order-b"}}{{/i18n}}</a></p>

        </div>
      </div>

      <div style='clear:both; height: 2em'></div>

      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/gettingstarted-es.jpg" alt="book cover Introducción a p5.js">
        </div>

        <div class="wide-right-column book">
          <h2>{{#i18n "book-2-title"}}{{/i18n}}</h2>

          <p>{{#i18n "book-2-authors"}}{{/i18n}}</p>
          <p>
            {{#i18n "book-2-publisher"}}{{/i18n}}
            {{#i18n "book-2-pages"}}{{/i18n}}
            {{#i18n "book-2-type"}}{{/i18n}}
          </p>

          <p>{{#i18n "book-2-description"}}{{/i18n}}</p>

          <p><a href="https://processingfoundation.press/product/introduccion-a-p5-js/" target="_blank">{{#i18n "book-2-order-a"}}{{/i18n}}</a></p>
          <p><a href="https://www.amazon.com/Introducci%C3%B3n-p5-js-Spanish-Lauren-McCarthy/dp/0999881302/" target="_blank">{{#i18n "book-2-order-b"}}{{/i18n}}</a></p>

        </div>
      </div>

      <div style='clear:both; height: 2em'></div>

      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/generative_design.jpg" alt="book cover generative design">
        </div>

        <div class="wide-right-column book">
          <h2>{{#i18n "book-3-title"}}{{/i18n}}</h2>

          <p>{{#i18n "book-3-authors"}}{{/i18n}}</p>
          <p>
            {{#i18n "book-3-publisher"}}{{/i18n}}
            {{#i18n "book-3-pages"}}{{/i18n}}
            {{#i18n "book-3-type"}}{{/i18n}}
          </p>

          <p>{{#i18n "book-3-description"}}{{/i18n}}</p>

          <p><a href="https://www.papress.com/html/product.details.dna?isbn=9781616897581" target="_blank">{{#i18n "book-3-order-a"}}{{/i18n}}</a></p>
          <p><a href="https://www.amazon.com/Generative-Design-Visualize-Program-JavaScript/dp/1616897589" target="_blank">{{#i18n "book-3-order-b"}}{{/i18n}}</a></p>

        </div>
      </div>

      <div style='clear:both; height: 2em'></div>

      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/generative_gestaltung.jpg" alt="book cover Generative Gestaltung">
        </div>

        <div class="wide-right-column book">
          <h2>{{#i18n "book-4-title"}}{{/i18n}}</h2>

          <p>{{#i18n "book-4-authors"}}{{/i18n}}</p>
          <p>
            {{#i18n "book-4-publisher"}}{{/i18n}}
            {{#i18n "book-4-pages"}}{{/i18n}}
            {{#i18n "book-4-type"}}{{/i18n}}
          </p>

          <p>{{#i18n "book-4-description"}}{{/i18n}}</p>

          <p><a href="https://typografie.de/produkt/generative-gestaltung-creative-coding-im-web/" target="_blank">{{#i18n "book-4-order-a"}}{{/i18n}}</a></p>
          <p><a href="https://www.amazon.com/Generative-Gestaltung/dp/3874399028" target="_blank">{{#i18n "book-4-order-b"}}{{/i18n}}</a></p>

        </div>
      </div>

      <div style='clear:both; height: 2em'></div>

      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/learn_javascript.jpg" alt="book cover learn javascript">
        </div>

        <div class="wide-right-column book">
          <h2>{{#i18n "book-5-title"}}{{/i18n}}</h2>

          <p>{{#i18n "book-5-authors"}}{{/i18n}}</p>
          <p>
            {{#i18n "book-5-publisher"}}{{/i18n}}
            {{#i18n "book-5-pages"}}{{/i18n}}
            {{#i18n "book-5-type"}}{{/i18n}}
          </p>

          <p>{{#i18n "book-5-description"}}{{/i18n}}</p>

          <p><a href="https://www.apress.com/gp/book/9781484234259" target="_blank">{{#i18n "book-5-order-a"}}{{/i18n}}</a></p>
          <p><a href="https://www.amazon.com/Learn-JavaScript-p5-js-Coding-Learners/dp/1484234251" target="_blank">{{#i18n "book-5-order-b"}}{{/i18n}}</a></p>

        </div>
      </div>
      <br>
      <div style='clear:both; height: 2em'></div>
    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="books-page"  -->
